In [1]:
# !pip install ipython-sql
# !pip install mysqlclient

%load_ext sql
connection_string = f"mysql://root:root@localhost/sqlpractice_w3school"
%sql $connection_string

In [2]:
%%sql 
show tables;

 * mysql://root:***@localhost/sqlpractice_w3school
8 rows affected.

[('categories',),
 ('customers',),
 ('employees',),
 ('orderdetails',),
 ('orders',),
 ('products',),
 ('shippers',),
 ('suppliers',)]

In [3]:
%%sql 
select * from Products;

 * mysql://root:***@localhost/sqlpractice_w3school
76 rows affected.

[(1, 'Chais', 1, 1, '10 boxes x 20 bags', 18),
 (2, 'Chang', 1, 1, '24 - 12 oz bottles', 19),
 (3, 'Aniseed changed', 1, 2, '12 - 550 ml bottles', 10),
 (4, "Chef Anton's Cajun Seasoning", 2, 2, '48 - 6 oz jars', 22),
 (5, "Chef Anton's Gumbo Mix", 2, 2, '36 boxes', 21),
 (6, "Grandma's Boysenberry Spread", 3, 2, '12 - 8 oz jars', 25),
 (7, "Uncle Bob's Organic Dried Pears", 3, 7, '12 - 1 lb pkgs.', 30),
 (8, 'Northwoods Cranberry Sauce', 3, 2, '12 - 12 oz jars', 40),
 (9, 'Mishi Kobe Niku', 4, 6, '18 - 500 g pkgs.', 97),
 (10, 'Ikura', 4, 8, '12 - 200 ml jars', 31),
 (11, 'Queso Cabrales', 5, 4, '1 kg pkg.', 21),
 (12, 'Queso Manchego La Pastora', 5, 4, '10 - 500 g pkgs.', 38),
 (13, 'Konbu', 6, 8, '2 kg box', 6),
 (14, 'Tofu', 6, 7, '40 - 100 g pkgs.', 23),
 (15, 'Genen Shouyu', 6, 2, '24 - 250 ml bottles', 16),
 (16, 'Pavlova', 7, 3, '32 - 500 g boxes', 17),
 (17, 'Alice Mutton', 7, 6, '20 - 1 kg tins', 39),
 (18, 'Carnarvon Tigers', 7, 8, '16 kg pkg.', 63),
 (19, 'Teatime Chocolate Biscuits', 8, 3, '10 boxes x 12 pieces', 9),
 (20, "Sir Rodney's Marmalade", 8, 3, '30 gift boxes', 81),
 (21, "Sir Rodney's Scones", 8, 3, '24 pkgs. x 4 pieces', 10),
 (22, "Gustaf's KnÃ¤ckebrÃ¶d", 9, 5, '24 - 500 g pkgs.', 21),
 (23, 'TunnbrÃ¶d', 9, 5, '12 - 250 g pkgs.', 9),
 (24, 'GuaranÃ¡ FantÃ¡stica', 10, 1, '12 - 355 ml cans', 5),
 (25, 'NuNuCa NuÃŸ-Nougat-Creme', 11, 3, '20 - 450 g glasses', 14),
 (26, 'GumbÃ¤r GummibÃ¤rchen', 11, 3, '100 - 250 g bags', 31),
 (27, 'Schoggi Schokolade', 11, 3, '100 - 100 g pieces', 44),
 (28, 'RÃ¶ssle Sauerkraut', 12, 7, '25 - 825 g cans', 46),
 (29, 'ThÃ¼ringer Rostbratwurst', 12, 6, '50 bags x 30 sausgs.', 124),
 (30, 'Nord-Ost Matjeshering', 13, 8, '10 - 200 g glasses', 26),
 (31, 'Gorgonzola Telino', 14, 4, '12 - 100 g pkgs', 13),
 (32, 'Mascarpone Fabioli', 14, 4, '24 - 200 g pkgs.', 32),
 (33, 'Geitost', 15, 4, '500 g', 3),
 (34, 'Sasquatch Ale', 16, 1, '24 - 12 oz bottles', 14),
 (35, 'Steeleye Stout', 16, 1, '24 - 12 oz bottles', 18),
 (36, 'Inlagd Sill', 17, 8, '24 - 250 g jars', 19),
 (37, 'Gravad lax', 17, 8, '12 - 500 g pkgs.', 26),
 (38, 'CÃ´te de Blaye', 18, 1, '12 - 75 cl bottles', 264),
 (39, 'Chartreuse verte', 18, 1, '750 cc per bottle', 18),
 (40, 'Boston Crab Meat', 19, 8, '24 - 4 oz tins', 18),
 (41, "Jack's New England Clam Chowder", 19, 8, '12 - 12 oz cans', 10),
 (42, 'Singaporean Hokkien Fried Mee', 20, 5, '32 - 1 kg pkgs.', 14),
 (43, 'Ipoh Coffee', 20, 1, '16 - 500 g tins', 46),
 (44, 'Gula Malacca', 20, 2, '20 - 2 kg bags', 19),
 (45, 'RÃ¸gede sild', 21, 8, '1k pkg.', 10),
 (46, 'Spegesild', 21, 8, '4 - 450 g glasses', 12),
 (47, 'Zaanse koeken', 22, 3, '10 - 4 oz boxes', 10),
 (48, 'Chocolade', 22, 3, '10 pkgs.', 13),
 (49, 'Maxilaku', 23, 3, '24 - 50 g pkgs.', 20),
 (50, 'Valkoinen suklaa', 23, 3, '12 - 100 g bars', 16),
 (51, 'Manjimup Dried Apples', 24, 7, '50 - 300 g pkgs.', 53),
 (52, 'Filo Mix', 24, 5, '16 - 2 kg boxes', 7),
 (53, 'Perth Pasties', 24, 6, '48 pieces', 33),
 (54, 'TourtiÃ¨re', 25, 6, '16 pies', 7),
 (55, 'PÃ¢tÃ© chinois', 25, 6, '24 boxes x 2 pies', 24),
 (56, 'Gnocchi di nonna Alice', 26, 5, '24 - 250 g pkgs.', 38),
 (57, 'Ravioli Angelo', 26, 5, '24 - 250 g pkgs.', 20),
 (58, 'Escargots de Bourgogne', 27, 8, '24 pieces', 13),
 (59, 'Raclette Courdavault', 28, 4, '5 kg pkg.', 55),
 (60, 'Camembert Pierrot', 28, 4, '15 - 300 g rounds', 34),
 (61, "Sirop d'Ã©rable", 29, 2, '24 - 500 ml bottles', 29),
 (62, 'Tarte au sucre', 29, 3, '48 pies', 49),
 (63, 'Vegie-spread', 7, 2, '15 - 625 g jars', 44),
 (64, 'Wimmers gute SemmelknÃ¶del', 12, 5, '20 bags x 4 pieces', 33),
 (65, 'Louisiana Fiery Hot Pepper Sauce', 2, 2, '32 - 8 oz bottles', 21),
 (66, 'Louisiana Hot Spiced Okra', 2, 2, '24 - 8 oz jars', 17),
 (67, 'Laughing Lumberjack Lager', 16, 1, '24 - 12 oz bottles', 14),
 (68, 'Scottish Longbreads', 8, 3, '10 boxes x 8 pieces', 13),
 (69, 'Gudbrandsdalsost', 15, 4, '10 kg pkg.', 36),
 (70, 'Outback Lager', 7, 1, '24 - 355 ml bottles', 15),
 (71, 'FlÃ¸temysost', 15, 4, '10 - 500 g pkgs.', 22),
 (72, 'Mozzarella di Giovanni', 14, 4, '24 - 200 g pkgs.', 35),
 (73, 'RÃ¶d Kaviar', 17, 8, '24 - 150 g jars', 15),
 (75, 'RhÃ¶nbrÃ¤u Klosterbier', 12, 1, '24 - 0.5 l bottles', 8),
 (76, 'LakkalikÃ¶Ã¶ri', 23, 1, '500 ml ', 18),
 (77, 'Original Frankfurter grÃ¼ne SoÃŸe', 12, 2, '12 boxes', 13)]

In [4]:
%%sql 
select distinct Country from suppliers;

 * mysql://root:***@localhost/sqlpractice_w3school
12 rows affected.

[('USA',),
 ('Japan',),
 ('Spain',),
 ('Australia',),
 ('Brazil',),
 ('Germany',),
 ('Italy',),
 ('Norway',),
 ('France',),
 ('Singapore',),
 ('Denmark',),
 ('Finland',)]

In [5]:
%%sql 
# total 12 unique country 
select count(distinct Country) from suppliers;

 * mysql://root:***@localhost/sqlpractice_w3school
1 rows affected.

[(12,)]

In [6]:
%%sql 
select * from Products where Price <= 8;

 * mysql://root:***@localhost/sqlpractice_w3school
6 rows affected.

[(13, 'Konbu', 6, 8, '2 kg box', 6),
 (24, 'GuaranÃ¡ FantÃ¡stica', 10, 1, '12 - 355 ml cans', 5),
 (33, 'Geitost', 15, 4, '500 g', 3),
 (52, 'Filo Mix', 24, 5, '16 - 2 kg boxes', 7),
 (54, 'TourtiÃ¨re', 25, 6, '16 pies', 7),
 (75, 'RhÃ¶nbrÃ¤u Klosterbier', 12, 1, '24 - 0.5 l bottles', 8)]

In [7]:
%%sql 
 #starts with "ch" 
select * from Products where ProductName like "ch%";

 * mysql://root:***@localhost/sqlpractice_w3school
6 rows affected.

[(1, 'Chais', 1, 1, '10 boxes x 20 bags', 18),
 (2, 'Chang', 1, 1, '24 - 12 oz bottles', 19),
 (4, "Chef Anton's Cajun Seasoning", 2, 2, '48 - 6 oz jars', 22),
 (5, "Chef Anton's Gumbo Mix", 2, 2, '36 boxes', 21),
 (39, 'Chartreuse verte', 18, 1, '750 cc per bottle', 18),
 (48, 'Chocolade', 22, 3, '10 pkgs.', 13)]

In [8]:
%%sql 
# ends with "ing" 
select * from Products where ProductName like "%ing";

 * mysql://root:***@localhost/sqlpractice_w3school
2 rows affected.

[(4, "Chef Anton's Cajun Seasoning", 2, 2, '48 - 6 oz jars', 22),
 (30, 'Nord-Ost Matjeshering', 13, 8, '10 - 200 g glasses', 26)]

In [9]:
%%sql 
# contains "th"
select * from Products where ProductName like "%th%";

 * mysql://root:***@localhost/sqlpractice_w3school
3 rows affected.

[(8, 'Northwoods Cranberry Sauce', 3, 2, '12 - 12 oz jars', 40),
 (29, 'ThÃ¼ringer Rostbratwurst', 12, 6, '50 bags x 30 sausgs.', 124),
 (53, 'Perth Pasties', 24, 6, '48 pieces', 33)]

In [10]:
%%sql 
# show exactly "chais"
select * from Products where ProductName like "chais";

 * mysql://root:***@localhost/sqlpractice_w3school
1 rows affected.

[(1, 'Chais', 1, 1, '10 boxes x 20 bags', 18)]

In [11]:
%%sql 
# 2nd character startswith "a" and endswith "s"
select * from Products where ProductName like "_a%s";

 * mysql://root:***@localhost/sqlpractice_w3school
3 rows affected.

[(18, 'Carnarvon Tigers', 7, 8, '16 kg pkg.', 63),
 (51, 'Manjimup Dried Apples', 24, 7, '50 - 300 g pkgs.', 53),
 (55, 'PÃ¢tÃ© chinois', 25, 6, '24 boxes x 2 pies', 24)]

In [12]:
%%sql 
# product name starts with a,b,c,d,e,f,g,h,i,j,k,l,m,n using regular expresion
select * from Products where ProductName REGEXP '^[a-n]';

 * mysql://root:***@localhost/sqlpractice_w3school
43 rows affected.

[(1, 'Chais', 1, 1, '10 boxes x 20 bags', 18),
 (2, 'Chang', 1, 1, '24 - 12 oz bottles', 19),
 (3, 'Aniseed changed', 1, 2, '12 - 550 ml bottles', 10),
 (4, "Chef Anton's Cajun Seasoning", 2, 2, '48 - 6 oz jars', 22),
 (5, "Chef Anton's Gumbo Mix", 2, 2, '36 boxes', 21),
 (6, "Grandma's Boysenberry Spread", 3, 2, '12 - 8 oz jars', 25),
 (8, 'Northwoods Cranberry Sauce', 3, 2, '12 - 12 oz jars', 40),
 (9, 'Mishi Kobe Niku', 4, 6, '18 - 500 g pkgs.', 97),
 (10, 'Ikura', 4, 8, '12 - 200 ml jars', 31),
 (13, 'Konbu', 6, 8, '2 kg box', 6),
 (15, 'Genen Shouyu', 6, 2, '24 - 250 ml bottles', 16),
 (17, 'Alice Mutton', 7, 6, '20 - 1 kg tins', 39),
 (18, 'Carnarvon Tigers', 7, 8, '16 kg pkg.', 63),
 (22, "Gustaf's KnÃ¤ckebrÃ¶d", 9, 5, '24 - 500 g pkgs.', 21),
 (24, 'GuaranÃ¡ FantÃ¡stica', 10, 1, '12 - 355 ml cans', 5),
 (25, 'NuNuCa NuÃŸ-Nougat-Creme', 11, 3, '20 - 450 g glasses', 14),
 (26, 'GumbÃ¤r GummibÃ¤rchen', 11, 3, '100 - 250 g bags', 31),
 (30, 'Nord-Ost Matjeshering', 13, 8, '10 - 200 g glasses', 26),
 (31, 'Gorgonzola Telino', 14, 4, '12 - 100 g pkgs', 13),
 (32, 'Mascarpone Fabioli', 14, 4, '24 - 200 g pkgs.', 32),
 (33, 'Geitost', 15, 4, '500 g', 3),
 (36, 'Inlagd Sill', 17, 8, '24 - 250 g jars', 19),
 (37, 'Gravad lax', 17, 8, '12 - 500 g pkgs.', 26),
 (38, 'CÃ´te de Blaye', 18, 1, '12 - 75 cl bottles', 264),
 (39, 'Chartreuse verte', 18, 1, '750 cc per bottle', 18),
 (40, 'Boston Crab Meat', 19, 8, '24 - 4 oz tins', 18),
 (41, "Jack's New England Clam Chowder", 19, 8, '12 - 12 oz cans', 10),
 (43, 'Ipoh Coffee', 20, 1, '16 - 500 g tins', 46),
 (44, 'Gula Malacca', 20, 2, '20 - 2 kg bags', 19),
 (48, 'Chocolade', 22, 3, '10 pkgs.', 13),
 (49, 'Maxilaku', 23, 3, '24 - 50 g pkgs.', 20),
 (51, 'Manjimup Dried Apples', 24, 7, '50 - 300 g pkgs.', 53),
 (52, 'Filo Mix', 24, 5, '16 - 2 kg boxes', 7),
 (56, 'Gnocchi di nonna Alice', 26, 5, '24 - 250 g pkgs.', 38),
 (58, 'Escargots de Bourgogne', 27, 8, '24 pieces', 13),
 (60, 'Camembert Pierrot', 28, 4, '15 - 300 g rounds', 34),
 (65, 'Louisiana Fiery Hot Pepper Sauce', 2, 2, '32 - 8 oz bottles', 21),
 (66, 'Louisiana Hot Spiced Okra', 2, 2, '24 - 8 oz jars', 17),
 (67, 'Laughing Lumberjack Lager', 16, 1, '24 - 12 oz bottles', 14),
 (69, 'Gudbrandsdalsost', 15, 4, '10 kg pkg.', 36),
 (71, 'FlÃ¸temysost', 15, 4, '10 - 500 g pkgs.', 22),
 (72, 'Mozzarella di Giovanni', 14, 4, '24 - 200 g pkgs.', 35),
 (76, 'LakkalikÃ¶Ã¶ri', 23, 1, '500 ml ', 18)]

### Not like with where

In [13]:
%%sql 
# Not starts with "ch"
select * from Products where ProductName not like "ch%";

 * mysql://root:***@localhost/sqlpractice_w3school
70 rows affected.

[(3, 'Aniseed changed', 1, 2, '12 - 550 ml bottles', 10),
 (6, "Grandma's Boysenberry Spread", 3, 2, '12 - 8 oz jars', 25),
 (7, "Uncle Bob's Organic Dried Pears", 3, 7, '12 - 1 lb pkgs.', 30),
 (8, 'Northwoods Cranberry Sauce', 3, 2, '12 - 12 oz jars', 40),
 (9, 'Mishi Kobe Niku', 4, 6, '18 - 500 g pkgs.', 97),
 (10, 'Ikura', 4, 8, '12 - 200 ml jars', 31),
 (11, 'Queso Cabrales', 5, 4, '1 kg pkg.', 21),
 (12, 'Queso Manchego La Pastora', 5, 4, '10 - 500 g pkgs.', 38),
 (13, 'Konbu', 6, 8, '2 kg box', 6),
 (14, 'Tofu', 6, 7, '40 - 100 g pkgs.', 23),
 (15, 'Genen Shouyu', 6, 2, '24 - 250 ml bottles', 16),
 (16, 'Pavlova', 7, 3, '32 - 500 g boxes', 17),
 (17, 'Alice Mutton', 7, 6, '20 - 1 kg tins', 39),
 (18, 'Carnarvon Tigers', 7, 8, '16 kg pkg.', 63),
 (19, 'Teatime Chocolate Biscuits', 8, 3, '10 boxes x 12 pieces', 9),
 (20, "Sir Rodney's Marmalade", 8, 3, '30 gift boxes', 81),
 (21, "Sir Rodney's Scones", 8, 3, '24 pkgs. x 4 pieces', 10),
 (22, "Gustaf's KnÃ¤ckebrÃ¶d", 9, 5, '24 - 500 g pkgs.', 21),
 (23, 'TunnbrÃ¶d', 9, 5, '12 - 250 g pkgs.', 9),
 (24, 'GuaranÃ¡ FantÃ¡stica', 10, 1, '12 - 355 ml cans', 5),
 (25, 'NuNuCa NuÃŸ-Nougat-Creme', 11, 3, '20 - 450 g glasses', 14),
 (26, 'GumbÃ¤r GummibÃ¤rchen', 11, 3, '100 - 250 g bags', 31),
 (27, 'Schoggi Schokolade', 11, 3, '100 - 100 g pieces', 44),
 (28, 'RÃ¶ssle Sauerkraut', 12, 7, '25 - 825 g cans', 46),
 (29, 'ThÃ¼ringer Rostbratwurst', 12, 6, '50 bags x 30 sausgs.', 124),
 (30, 'Nord-Ost Matjeshering', 13, 8, '10 - 200 g glasses', 26),
 (31, 'Gorgonzola Telino', 14, 4, '12 - 100 g pkgs', 13),
 (32, 'Mascarpone Fabioli', 14, 4, '24 - 200 g pkgs.', 32),
 (33, 'Geitost', 15, 4, '500 g', 3),
 (34, 'Sasquatch Ale', 16, 1, '24 - 12 oz bottles', 14),
 (35, 'Steeleye Stout', 16, 1, '24 - 12 oz bottles', 18),
 (36, 'Inlagd Sill', 17, 8, '24 - 250 g jars', 19),
 (37, 'Gravad lax', 17, 8, '12 - 500 g pkgs.', 26),
 (38, 'CÃ´te de Blaye', 18, 1, '12 - 75 cl bottles', 264),
 (40, 'Boston Crab Meat', 19, 8, '24 - 4 oz tins', 18),
 (41, "Jack's New England Clam Chowder", 19, 8, '12 - 12 oz cans', 10),
 (42, 'Singaporean Hokkien Fried Mee', 20, 5, '32 - 1 kg pkgs.', 14),
 (43, 'Ipoh Coffee', 20, 1, '16 - 500 g tins', 46),
 (44, 'Gula Malacca', 20, 2, '20 - 2 kg bags', 19),
 (45, 'RÃ¸gede sild', 21, 8, '1k pkg.', 10),
 (46, 'Spegesild', 21, 8, '4 - 450 g glasses', 12),
 (47, 'Zaanse koeken', 22, 3, '10 - 4 oz boxes', 10),
 (49, 'Maxilaku', 23, 3, '24 - 50 g pkgs.', 20),
 (50, 'Valkoinen suklaa', 23, 3, '12 - 100 g bars', 16),
 (51, 'Manjimup Dried Apples', 24, 7, '50 - 300 g pkgs.', 53),
 (52, 'Filo Mix', 24, 5, '16 - 2 kg boxes', 7),
 (53, 'Perth Pasties', 24, 6, '48 pieces', 33),
 (54, 'TourtiÃ¨re', 25, 6, '16 pies', 7),
 (55, 'PÃ¢tÃ© chinois', 25, 6, '24 boxes x 2 pies', 24),
 (56, 'Gnocchi di nonna Alice', 26, 5, '24 - 250 g pkgs.', 38),
 (57, 'Ravioli Angelo', 26, 5, '24 - 250 g pkgs.', 20),
 (58, 'Escargots de Bourgogne', 27, 8, '24 pieces', 13),
 (59, 'Raclette Courdavault', 28, 4, '5 kg pkg.', 55),
 (60, 'Camembert Pierrot', 28, 4, '15 - 300 g rounds', 34),
 (61, "Sirop d'Ã©rable", 29, 2, '24 - 500 ml bottles', 29),
 (62, 'Tarte au sucre', 29, 3, '48 pies', 49),
 (63, 'Vegie-spread', 7, 2, '15 - 625 g jars', 44),
 (64, 'Wimmers gute SemmelknÃ¶del', 12, 5, '20 bags x 4 pieces', 33),
 (65, 'Louisiana Fiery Hot Pepper Sauce', 2, 2, '32 - 8 oz bottles', 21),
 (66, 'Louisiana Hot Spiced Okra', 2, 2, '24 - 8 oz jars', 17),
 (67, 'Laughing Lumberjack Lager', 16, 1, '24 - 12 oz bottles', 14),
 (68, 'Scottish Longbreads', 8, 3, '10 boxes x 8 pieces', 13),
 (69, 'Gudbrandsdalsost', 15, 4, '10 kg pkg.', 36),
 (70, 'Outback Lager', 7, 1, '24 - 355 ml bottles', 15),
 (71, 'FlÃ¸temysost', 15, 4, '10 - 500 g pkgs.', 22),
 (72, 'Mozzarella di Giovanni', 14, 4, '24 - 200 g pkgs.', 35),
 (73, 'RÃ¶d Kaviar', 17, 8, '24 - 150 g jars', 15),
 (75, 'RhÃ¶nbrÃ¤u Klosterbier', 12, 1, '24 - 0.5 l bottles', 8),
 (76, 'LakkalikÃ¶Ã¶ri', 23, 1, '500 ml ', 18),
 (77, 'Original Frankfurter grÃ¼ne SoÃŸe', 12, 2, '12 boxes', 13)]

In [14]:
%%sql 
# ends with "ing"
select * from Products where ProductName not like "%ing";

 * mysql://root:***@localhost/sqlpractice_w3school
74 rows affected.

[(1, 'Chais', 1, 1, '10 boxes x 20 bags', 18),
 (2, 'Chang', 1, 1, '24 - 12 oz bottles', 19),
 (3, 'Aniseed changed', 1, 2, '12 - 550 ml bottles', 10),
 (5, "Chef Anton's Gumbo Mix", 2, 2, '36 boxes', 21),
 (6, "Grandma's Boysenberry Spread", 3, 2, '12 - 8 oz jars', 25),
 (7, "Uncle Bob's Organic Dried Pears", 3, 7, '12 - 1 lb pkgs.', 30),
 (8, 'Northwoods Cranberry Sauce', 3, 2, '12 - 12 oz jars', 40),
 (9, 'Mishi Kobe Niku', 4, 6, '18 - 500 g pkgs.', 97),
 (10, 'Ikura', 4, 8, '12 - 200 ml jars', 31),
 (11, 'Queso Cabrales', 5, 4, '1 kg pkg.', 21),
 (12, 'Queso Manchego La Pastora', 5, 4, '10 - 500 g pkgs.', 38),
 (13, 'Konbu', 6, 8, '2 kg box', 6),
 (14, 'Tofu', 6, 7, '40 - 100 g pkgs.', 23),
 (15, 'Genen Shouyu', 6, 2, '24 - 250 ml bottles', 16),
 (16, 'Pavlova', 7, 3, '32 - 500 g boxes', 17),
 (17, 'Alice Mutton', 7, 6, '20 - 1 kg tins', 39),
 (18, 'Carnarvon Tigers', 7, 8, '16 kg pkg.', 63),
 (19, 'Teatime Chocolate Biscuits', 8, 3, '10 boxes x 12 pieces', 9),
 (20, "Sir Rodney's Marmalade", 8, 3, '30 gift boxes', 81),
 (21, "Sir Rodney's Scones", 8, 3, '24 pkgs. x 4 pieces', 10),
 (22, "Gustaf's KnÃ¤ckebrÃ¶d", 9, 5, '24 - 500 g pkgs.', 21),
 (23, 'TunnbrÃ¶d', 9, 5, '12 - 250 g pkgs.', 9),
 (24, 'GuaranÃ¡ FantÃ¡stica', 10, 1, '12 - 355 ml cans', 5),
 (25, 'NuNuCa NuÃŸ-Nougat-Creme', 11, 3, '20 - 450 g glasses', 14),
 (26, 'GumbÃ¤r GummibÃ¤rchen', 11, 3, '100 - 250 g bags', 31),
 (27, 'Schoggi Schokolade', 11, 3, '100 - 100 g pieces', 44),
 (28, 'RÃ¶ssle Sauerkraut', 12, 7, '25 - 825 g cans', 46),
 (29, 'ThÃ¼ringer Rostbratwurst', 12, 6, '50 bags x 30 sausgs.', 124),
 (31, 'Gorgonzola Telino', 14, 4, '12 - 100 g pkgs', 13),
 (32, 'Mascarpone Fabioli', 14, 4, '24 - 200 g pkgs.', 32),
 (33, 'Geitost', 15, 4, '500 g', 3),
 (34, 'Sasquatch Ale', 16, 1, '24 - 12 oz bottles', 14),
 (35, 'Steeleye Stout', 16, 1, '24 - 12 oz bottles', 18),
 (36, 'Inlagd Sill', 17, 8, '24 - 250 g jars', 19),
 (37, 'Gravad lax', 17, 8, '12 - 500 g pkgs.', 26),
 (38, 'CÃ´te de Blaye', 18, 1, '12 - 75 cl bottles', 264),
 (39, 'Chartreuse verte', 18, 1, '750 cc per bottle', 18),
 (40, 'Boston Crab Meat', 19, 8, '24 - 4 oz tins', 18),
 (41, "Jack's New England Clam Chowder", 19, 8, '12 - 12 oz cans', 10),
 (42, 'Singaporean Hokkien Fried Mee', 20, 5, '32 - 1 kg pkgs.', 14),
 (43, 'Ipoh Coffee', 20, 1, '16 - 500 g tins', 46),
 (44, 'Gula Malacca', 20, 2, '20 - 2 kg bags', 19),
 (45, 'RÃ¸gede sild', 21, 8, '1k pkg.', 10),
 (46, 'Spegesild', 21, 8, '4 - 450 g glasses', 12),
 (47, 'Zaanse koeken', 22, 3, '10 - 4 oz boxes', 10),
 (48, 'Chocolade', 22, 3, '10 pkgs.', 13),
 (49, 'Maxilaku', 23, 3, '24 - 50 g pkgs.', 20),
 (50, 'Valkoinen suklaa', 23, 3, '12 - 100 g bars', 16),
 (51, 'Manjimup Dried Apples', 24, 7, '50 - 300 g pkgs.', 53),
 (52, 'Filo Mix', 24, 5, '16 - 2 kg boxes', 7),
 (53, 'Perth Pasties', 24, 6, '48 pieces', 33),
 (54, 'TourtiÃ¨re', 25, 6, '16 pies', 7),
 (55, 'PÃ¢tÃ© chinois', 25, 6, '24 boxes x 2 pies', 24),
 (56, 'Gnocchi di nonna Alice', 26, 5, '24 - 250 g pkgs.', 38),
 (57, 'Ravioli Angelo', 26, 5, '24 - 250 g pkgs.', 20),
 (58, 'Escargots de Bourgogne', 27, 8, '24 pieces', 13),
 (59, 'Raclette Courdavault', 28, 4, '5 kg pkg.', 55),
 (60, 'Camembert Pierrot', 28, 4, '15 - 300 g rounds', 34),
 (61, "Sirop d'Ã©rable", 29, 2, '24 - 500 ml bottles', 29),
 (62, 'Tarte au sucre', 29, 3, '48 pies', 49),
 (63, 'Vegie-spread', 7, 2, '15 - 625 g jars', 44),
 (64, 'Wimmers gute SemmelknÃ¶del', 12, 5, '20 bags x 4 pieces', 33),
 (65, 'Louisiana Fiery Hot Pepper Sauce', 2, 2, '32 - 8 oz bottles', 21),
 (66, 'Louisiana Hot Spiced Okra', 2, 2, '24 - 8 oz jars', 17),
 (67, 'Laughing Lumberjack Lager', 16, 1, '24 - 12 oz bottles', 14),
 (68, 'Scottish Longbreads', 8, 3, '10 boxes x 8 pieces', 13),
 (69, 'Gudbrandsdalsost', 15, 4, '10 kg pkg.', 36),
 (70, 'Outback Lager', 7, 1, '24 - 355 ml bottles', 15),
 (71, 'FlÃ¸temysost', 15, 4, '10 - 500 g pkgs.', 22),
 (72, 'Mozzarella di Giovanni', 14, 4, '24 - 200 g pkgs.', 35),
 (73, 'RÃ¶d Kaviar', 17, 8, '24 - 150 g jars', 15),
 (75, 'RhÃ¶nbrÃ¤u Klosterbier', 12, 1, '24 - 0.5 l bottles', 8),
 (76, 'LakkalikÃ¶Ã¶ri', 23, 1, '500 ml ', 18),
 (77, 'Original Frankfurter grÃ¼ne SoÃŸe', 12, 2, '12 boxes', 13)]

In [15]:
%%sql 
# contains "th"  
select * from Products where ProductName not like "%th%";

 * mysql://root:***@localhost/sqlpractice_w3school
73 rows affected.

[(1, 'Chais', 1, 1, '10 boxes x 20 bags', 18),
 (2, 'Chang', 1, 1, '24 - 12 oz bottles', 19),
 (3, 'Aniseed changed', 1, 2, '12 - 550 ml bottles', 10),
 (4, "Chef Anton's Cajun Seasoning", 2, 2, '48 - 6 oz jars', 22),
 (5, "Chef Anton's Gumbo Mix", 2, 2, '36 boxes', 21),
 (6, "Grandma's Boysenberry Spread", 3, 2, '12 - 8 oz jars', 25),
 (7, "Uncle Bob's Organic Dried Pears", 3, 7, '12 - 1 lb pkgs.', 30),
 (9, 'Mishi Kobe Niku', 4, 6, '18 - 500 g pkgs.', 97),
 (10, 'Ikura', 4, 8, '12 - 200 ml jars', 31),
 (11, 'Queso Cabrales', 5, 4, '1 kg pkg.', 21),
 (12, 'Queso Manchego La Pastora', 5, 4, '10 - 500 g pkgs.', 38),
 (13, 'Konbu', 6, 8, '2 kg box', 6),
 (14, 'Tofu', 6, 7, '40 - 100 g pkgs.', 23),
 (15, 'Genen Shouyu', 6, 2, '24 - 250 ml bottles', 16),
 (16, 'Pavlova', 7, 3, '32 - 500 g boxes', 17),
 (17, 'Alice Mutton', 7, 6, '20 - 1 kg tins', 39),
 (18, 'Carnarvon Tigers', 7, 8, '16 kg pkg.', 63),
 (19, 'Teatime Chocolate Biscuits', 8, 3, '10 boxes x 12 pieces', 9),
 (20, "Sir Rodney's Marmalade", 8, 3, '30 gift boxes', 81),
 (21, "Sir Rodney's Scones", 8, 3, '24 pkgs. x 4 pieces', 10),
 (22, "Gustaf's KnÃ¤ckebrÃ¶d", 9, 5, '24 - 500 g pkgs.', 21),
 (23, 'TunnbrÃ¶d', 9, 5, '12 - 250 g pkgs.', 9),
 (24, 'GuaranÃ¡ FantÃ¡stica', 10, 1, '12 - 355 ml cans', 5),
 (25, 'NuNuCa NuÃŸ-Nougat-Creme', 11, 3, '20 - 450 g glasses', 14),
 (26, 'GumbÃ¤r GummibÃ¤rchen', 11, 3, '100 - 250 g bags', 31),
 (27, 'Schoggi Schokolade', 11, 3, '100 - 100 g pieces', 44),
 (28, 'RÃ¶ssle Sauerkraut', 12, 7, '25 - 825 g cans', 46),
 (30, 'Nord-Ost Matjeshering', 13, 8, '10 - 200 g glasses', 26),
 (31, 'Gorgonzola Telino', 14, 4, '12 - 100 g pkgs', 13),
 (32, 'Mascarpone Fabioli', 14, 4, '24 - 200 g pkgs.', 32),
 (33, 'Geitost', 15, 4, '500 g', 3),
 (34, 'Sasquatch Ale', 16, 1, '24 - 12 oz bottles', 14),
 (35, 'Steeleye Stout', 16, 1, '24 - 12 oz bottles', 18),
 (36, 'Inlagd Sill', 17, 8, '24 - 250 g jars', 19),
 (37, 'Gravad lax', 17, 8, '12 - 500 g pkgs.', 26),
 (38, 'CÃ´te de Blaye', 18, 1, '12 - 75 cl bottles', 264),
 (39, 'Chartreuse verte', 18, 1, '750 cc per bottle', 18),
 (40, 'Boston Crab Meat', 19, 8, '24 - 4 oz tins', 18),
 (41, "Jack's New England Clam Chowder", 19, 8, '12 - 12 oz cans', 10),
 (42, 'Singaporean Hokkien Fried Mee', 20, 5, '32 - 1 kg pkgs.', 14),
 (43, 'Ipoh Coffee', 20, 1, '16 - 500 g tins', 46),
 (44, 'Gula Malacca', 20, 2, '20 - 2 kg bags', 19),
 (45, 'RÃ¸gede sild', 21, 8, '1k pkg.', 10),
 (46, 'Spegesild', 21, 8, '4 - 450 g glasses', 12),
 (47, 'Zaanse koeken', 22, 3, '10 - 4 oz boxes', 10),
 (48, 'Chocolade', 22, 3, '10 pkgs.', 13),
 (49, 'Maxilaku', 23, 3, '24 - 50 g pkgs.', 20),
 (50, 'Valkoinen suklaa', 23, 3, '12 - 100 g bars', 16),
 (51, 'Manjimup Dried Apples', 24, 7, '50 - 300 g pkgs.', 53),
 (52, 'Filo Mix', 24, 5, '16 - 2 kg boxes', 7),
 (54, 'TourtiÃ¨re', 25, 6, '16 pies', 7),
 (55, 'PÃ¢tÃ© chinois', 25, 6, '24 boxes x 2 pies', 24),
 (56, 'Gnocchi di nonna Alice', 26, 5, '24 - 250 g pkgs.', 38),
 (57, 'Ravioli Angelo', 26, 5, '24 - 250 g pkgs.', 20),
 (58, 'Escargots de Bourgogne', 27, 8, '24 pieces', 13),
 (59, 'Raclette Courdavault', 28, 4, '5 kg pkg.', 55),
 (60, 'Camembert Pierrot', 28, 4, '15 - 300 g rounds', 34),
 (61, "Sirop d'Ã©rable", 29, 2, '24 - 500 ml bottles', 29),
 (62, 'Tarte au sucre', 29, 3, '48 pies', 49),
 (63, 'Vegie-spread', 7, 2, '15 - 625 g jars', 44),
 (64, 'Wimmers gute SemmelknÃ¶del', 12, 5, '20 bags x 4 pieces', 33),
 (65, 'Louisiana Fiery Hot Pepper Sauce', 2, 2, '32 - 8 oz bottles', 21),
 (66, 'Louisiana Hot Spiced Okra', 2, 2, '24 - 8 oz jars', 17),
 (67, 'Laughing Lumberjack Lager', 16, 1, '24 - 12 oz bottles', 14),
 (68, 'Scottish Longbreads', 8, 3, '10 boxes x 8 pieces', 13),
 (69, 'Gudbrandsdalsost', 15, 4, '10 kg pkg.', 36),
 (70, 'Outback Lager', 7, 1, '24 - 355 ml bottles', 15),
 (71, 'FlÃ¸temysost', 15, 4, '10 - 500 g pkgs.', 22),
 (72, 'Mozzarella di Giovanni', 14, 4, '24 - 200 g pkgs.', 35),
 (73, 'RÃ¶d Kaviar', 17, 8, '24 - 150 g jars', 15),
 (75, 'RhÃ¶nbrÃ¤u Klosterbier', 12, 1, '24 - 0.5 l bottles', 8),
 (76, 'LakkalikÃ¶Ã¶ri', 23, 1, '500 ml ', 18),
 (77, 'Original Frankfurter grÃ¼ne SoÃŸe', 12, 2, '12 boxes', 13)]

In [16]:
%%sql 
# like with where and having
select * from Products where ProductName like "ch%" having Price < 20;

 * mysql://root:***@localhost/sqlpractice_w3school
4 rows affected.

[(1, 'Chais', 1, 1, '10 boxes x 20 bags', 18),
 (2, 'Chang', 1, 1, '24 - 12 oz bottles', 19),
 (39, 'Chartreuse verte', 18, 1, '750 cc per bottle', 18),
 (48, 'Chocolade', 22, 3, '10 pkgs.', 13)]

In [17]:
%%sql 
# using AND | # alternative method of above command
select * from Products where ProductName like "ch%" and Price < 20;

 * mysql://root:***@localhost/sqlpractice_w3school
4 rows affected.

[(1, 'Chais', 1, 1, '10 boxes x 20 bags', 18),
 (2, 'Chang', 1, 1, '24 - 12 oz bottles', 19),
 (39, 'Chartreuse verte', 18, 1, '750 cc per bottle', 18),
 (48, 'Chocolade', 22, 3, '10 pkgs.', 13)]

In [18]:
%%sql 
# where,or,and,like 
select * from Products where ( Price%6 = 0 or Price%10 = 0 ) and ProductName like "%s";

 * mysql://root:***@localhost/sqlpractice_w3school
4 rows affected.

[(1, 'Chais', 1, 1, '10 boxes x 20 bags', 18),
 (7, "Uncle Bob's Organic Dried Pears", 3, 7, '12 - 1 lb pkgs.', 30),
 (21, "Sir Rodney's Scones", 8, 3, '24 pkgs. x 4 pieces', 10),
 (55, 'PÃ¢tÃ© chinois', 25, 6, '24 boxes x 2 pies', 24)]

In [19]:
%%sql 
select * from Products where ( Price%6 = 0 and Price%10 = 0 ) and ProductName like "%s";

 * mysql://root:***@localhost/sqlpractice_w3school
1 rows affected.

[(7, "Uncle Bob's Organic Dried Pears", 3, 7, '12 - 1 lb pkgs.', 30)]

In [20]:
%%sql 
# order by desc | # deafult is asc 
select * from Products order by Price desc;

 * mysql://root:***@localhost/sqlpractice_w3school
76 rows affected.

[(38, 'CÃ´te de Blaye', 18, 1, '12 - 75 cl bottles', 264),
 (29, 'ThÃ¼ringer Rostbratwurst', 12, 6, '50 bags x 30 sausgs.', 124),
 (9, 'Mishi Kobe Niku', 4, 6, '18 - 500 g pkgs.', 97),
 (20, "Sir Rodney's Marmalade", 8, 3, '30 gift boxes', 81),
 (18, 'Carnarvon Tigers', 7, 8, '16 kg pkg.', 63),
 (59, 'Raclette Courdavault', 28, 4, '5 kg pkg.', 55),
 (51, 'Manjimup Dried Apples', 24, 7, '50 - 300 g pkgs.', 53),
 (62, 'Tarte au sucre', 29, 3, '48 pies', 49),
 (43, 'Ipoh Coffee', 20, 1, '16 - 500 g tins', 46),
 (28, 'RÃ¶ssle Sauerkraut', 12, 7, '25 - 825 g cans', 46),
 (63, 'Vegie-spread', 7, 2, '15 - 625 g jars', 44),
 (27, 'Schoggi Schokolade', 11, 3, '100 - 100 g pieces', 44),
 (8, 'Northwoods Cranberry Sauce', 3, 2, '12 - 12 oz jars', 40),
 (17, 'Alice Mutton', 7, 6, '20 - 1 kg tins', 39),
 (56, 'Gnocchi di nonna Alice', 26, 5, '24 - 250 g pkgs.', 38),
 (12, 'Queso Manchego La Pastora', 5, 4, '10 - 500 g pkgs.', 38),
 (69, 'Gudbrandsdalsost', 15, 4, '10 kg pkg.', 36),
 (72, 'Mozzarella di Giovanni', 14, 4, '24 - 200 g pkgs.', 35),
 (60, 'Camembert Pierrot', 28, 4, '15 - 300 g rounds', 34),
 (53, 'Perth Pasties', 24, 6, '48 pieces', 33),
 (64, 'Wimmers gute SemmelknÃ¶del', 12, 5, '20 bags x 4 pieces', 33),
 (32, 'Mascarpone Fabioli', 14, 4, '24 - 200 g pkgs.', 32),
 (10, 'Ikura', 4, 8, '12 - 200 ml jars', 31),
 (26, 'GumbÃ¤r GummibÃ¤rchen', 11, 3, '100 - 250 g bags', 31),
 (7, "Uncle Bob's Organic Dried Pears", 3, 7, '12 - 1 lb pkgs.', 30),
 (61, "Sirop d'Ã©rable", 29, 2, '24 - 500 ml bottles', 29),
 (30, 'Nord-Ost Matjeshering', 13, 8, '10 - 200 g glasses', 26),
 (37, 'Gravad lax', 17, 8, '12 - 500 g pkgs.', 26),
 (6, "Grandma's Boysenberry Spread", 3, 2, '12 - 8 oz jars', 25),
 (55, 'PÃ¢tÃ© chinois', 25, 6, '24 boxes x 2 pies', 24),
 (14, 'Tofu', 6, 7, '40 - 100 g pkgs.', 23),
 (4, "Chef Anton's Cajun Seasoning", 2, 2, '48 - 6 oz jars', 22),
 (71, 'FlÃ¸temysost', 15, 4, '10 - 500 g pkgs.', 22),
 (5, "Chef Anton's Gumbo Mix", 2, 2, '36 boxes', 21),
 (22, "Gustaf's KnÃ¤ckebrÃ¶d", 9, 5, '24 - 500 g pkgs.', 21),
 (11, 'Queso Cabrales', 5, 4, '1 kg pkg.', 21),
 (65, 'Louisiana Fiery Hot Pepper Sauce', 2, 2, '32 - 8 oz bottles', 21),
 (57, 'Ravioli Angelo', 26, 5, '24 - 250 g pkgs.', 20),
 (49, 'Maxilaku', 23, 3, '24 - 50 g pkgs.', 20),
 (2, 'Chang', 1, 1, '24 - 12 oz bottles', 19),
 (44, 'Gula Malacca', 20, 2, '20 - 2 kg bags', 19),
 (36, 'Inlagd Sill', 17, 8, '24 - 250 g jars', 19),
 (39, 'Chartreuse verte', 18, 1, '750 cc per bottle', 18),
 (40, 'Boston Crab Meat', 19, 8, '24 - 4 oz tins', 18),
 (1, 'Chais', 1, 1, '10 boxes x 20 bags', 18),
 (35, 'Steeleye Stout', 16, 1, '24 - 12 oz bottles', 18),
 (76, 'LakkalikÃ¶Ã¶ri', 23, 1, '500 ml ', 18),
 (16, 'Pavlova', 7, 3, '32 - 500 g boxes', 17),
 (66, 'Louisiana Hot Spiced Okra', 2, 2, '24 - 8 oz jars', 17),
 (50, 'Valkoinen suklaa', 23, 3, '12 - 100 g bars', 16),
 (15, 'Genen Shouyu', 6, 2, '24 - 250 ml bottles', 16),
 (70, 'Outback Lager', 7, 1, '24 - 355 ml bottles', 15),
 (73, 'RÃ¶d Kaviar', 17, 8, '24 - 150 g jars', 15),
 (25, 'NuNuCa NuÃŸ-Nougat-Creme', 11, 3, '20 - 450 g glasses', 14),
 (67, 'Laughing Lumberjack Lager', 16, 1, '24 - 12 oz bottles', 14),
 (42, 'Singaporean Hokkien Fried Mee', 20, 5, '32 - 1 kg pkgs.', 14),
 (34, 'Sasquatch Ale', 16, 1, '24 - 12 oz bottles', 14),
 (48, 'Chocolade', 22, 3, '10 pkgs.', 13),
 (31, 'Gorgonzola Telino', 14, 4, '12 - 100 g pkgs', 13),
 (58, 'Escargots de Bourgogne', 27, 8, '24 pieces', 13),
 (68, 'Scottish Longbreads', 8, 3, '10 boxes x 8 pieces', 13),
 (77, 'Original Frankfurter grÃ¼ne SoÃŸe', 12, 2, '12 boxes', 13),
 (46, 'Spegesild', 21, 8, '4 - 450 g glasses', 12),
 (21, "Sir Rodney's Scones", 8, 3, '24 pkgs. x 4 pieces', 10),
 (3, 'Aniseed changed', 1, 2, '12 - 550 ml bottles', 10),
 (41, "Jack's New England Clam Chowder", 19, 8, '12 - 12 oz cans', 10),
 (45, 'RÃ¸gede sild', 21, 8, '1k pkg.', 10),
 (47, 'Zaanse koeken', 22, 3, '10 - 4 oz boxes', 10),
 (23, 'TunnbrÃ¶d', 9, 5, '12 - 250 g pkgs.', 9),
 (19, 'Teatime Chocolate Biscuits', 8, 3, '10 boxes x 12 pieces', 9),
 (75, 'RhÃ¶nbrÃ¤u Klosterbier', 12, 1, '24 - 0.5 l bottles', 8),
 (52, 'Filo Mix', 24, 5, '16 - 2 kg boxes', 7),
 (54, 'TourtiÃ¨re', 25, 6, '16 pies', 7),
 (13, 'Konbu', 6, 8, '2 kg box', 6),
 (24, 'GuaranÃ¡ FantÃ¡stica', 10, 1, '12 - 355 ml cans', 5),
 (33, 'Geitost', 15, 4, '500 g', 3)]

In [21]:
%%sql 
select * from Products order by ProductName desc, Price asc;

 * mysql://root:***@localhost/sqlpractice_w3school
76 rows affected.

[(47, 'Zaanse koeken', 22, 3, '10 - 4 oz boxes', 10),
 (64, 'Wimmers gute SemmelknÃ¶del', 12, 5, '20 bags x 4 pieces', 33),
 (63, 'Vegie-spread', 7, 2, '15 - 625 g jars', 44),
 (50, 'Valkoinen suklaa', 23, 3, '12 - 100 g bars', 16),
 (7, "Uncle Bob's Organic Dried Pears", 3, 7, '12 - 1 lb pkgs.', 30),
 (23, 'TunnbrÃ¶d', 9, 5, '12 - 250 g pkgs.', 9),
 (54, 'TourtiÃ¨re', 25, 6, '16 pies', 7),
 (14, 'Tofu', 6, 7, '40 - 100 g pkgs.', 23),
 (29, 'ThÃ¼ringer Rostbratwurst', 12, 6, '50 bags x 30 sausgs.', 124),
 (19, 'Teatime Chocolate Biscuits', 8, 3, '10 boxes x 12 pieces', 9),
 (62, 'Tarte au sucre', 29, 3, '48 pies', 49),
 (35, 'Steeleye Stout', 16, 1, '24 - 12 oz bottles', 18),
 (46, 'Spegesild', 21, 8, '4 - 450 g glasses', 12),
 (61, "Sirop d'Ã©rable", 29, 2, '24 - 500 ml bottles', 29),
 (21, "Sir Rodney's Scones", 8, 3, '24 pkgs. x 4 pieces', 10),
 (20, "Sir Rodney's Marmalade", 8, 3, '30 gift boxes', 81),
 (42, 'Singaporean Hokkien Fried Mee', 20, 5, '32 - 1 kg pkgs.', 14),
 (68, 'Scottish Longbreads', 8, 3, '10 boxes x 8 pieces', 13),
 (27, 'Schoggi Schokolade', 11, 3, '100 - 100 g pieces', 44),
 (34, 'Sasquatch Ale', 16, 1, '24 - 12 oz bottles', 14),
 (75, 'RhÃ¶nbrÃ¤u Klosterbier', 12, 1, '24 - 0.5 l bottles', 8),
 (57, 'Ravioli Angelo', 26, 5, '24 - 250 g pkgs.', 20),
 (59, 'Raclette Courdavault', 28, 4, '5 kg pkg.', 55),
 (45, 'RÃ¸gede sild', 21, 8, '1k pkg.', 10),
 (28, 'RÃ¶ssle Sauerkraut', 12, 7, '25 - 825 g cans', 46),
 (73, 'RÃ¶d Kaviar', 17, 8, '24 - 150 g jars', 15),
 (12, 'Queso Manchego La Pastora', 5, 4, '10 - 500 g pkgs.', 38),
 (11, 'Queso Cabrales', 5, 4, '1 kg pkg.', 21),
 (53, 'Perth Pasties', 24, 6, '48 pieces', 33),
 (16, 'Pavlova', 7, 3, '32 - 500 g boxes', 17),
 (55, 'PÃ¢tÃ© chinois', 25, 6, '24 boxes x 2 pies', 24),
 (70, 'Outback Lager', 7, 1, '24 - 355 ml bottles', 15),
 (77, 'Original Frankfurter grÃ¼ne SoÃŸe', 12, 2, '12 boxes', 13),
 (25, 'NuNuCa NuÃŸ-Nougat-Creme', 11, 3, '20 - 450 g glasses', 14),
 (8, 'Northwoods Cranberry Sauce', 3, 2, '12 - 12 oz jars', 40),
 (30, 'Nord-Ost Matjeshering', 13, 8, '10 - 200 g glasses', 26),
 (72, 'Mozzarella di Giovanni', 14, 4, '24 - 200 g pkgs.', 35),
 (9, 'Mishi Kobe Niku', 4, 6, '18 - 500 g pkgs.', 97),
 (49, 'Maxilaku', 23, 3, '24 - 50 g pkgs.', 20),
 (32, 'Mascarpone Fabioli', 14, 4, '24 - 200 g pkgs.', 32),
 (51, 'Manjimup Dried Apples', 24, 7, '50 - 300 g pkgs.', 53),
 (66, 'Louisiana Hot Spiced Okra', 2, 2, '24 - 8 oz jars', 17),
 (65, 'Louisiana Fiery Hot Pepper Sauce', 2, 2, '32 - 8 oz bottles', 21),
 (67, 'Laughing Lumberjack Lager', 16, 1, '24 - 12 oz bottles', 14),
 (76, 'LakkalikÃ¶Ã¶ri', 23, 1, '500 ml ', 18),
 (13, 'Konbu', 6, 8, '2 kg box', 6),
 (41, "Jack's New England Clam Chowder", 19, 8, '12 - 12 oz cans', 10),
 (43, 'Ipoh Coffee', 20, 1, '16 - 500 g tins', 46),
 (36, 'Inlagd Sill', 17, 8, '24 - 250 g jars', 19),
 (10, 'Ikura', 4, 8, '12 - 200 ml jars', 31),
 (22, "Gustaf's KnÃ¤ckebrÃ¶d", 9, 5, '24 - 500 g pkgs.', 21),
 (26, 'GumbÃ¤r GummibÃ¤rchen', 11, 3, '100 - 250 g bags', 31),
 (44, 'Gula Malacca', 20, 2, '20 - 2 kg bags', 19),
 (69, 'Gudbrandsdalsost', 15, 4, '10 kg pkg.', 36),
 (24, 'GuaranÃ¡ FantÃ¡stica', 10, 1, '12 - 355 ml cans', 5),
 (37, 'Gravad lax', 17, 8, '12 - 500 g pkgs.', 26),
 (6, "Grandma's Boysenberry Spread", 3, 2, '12 - 8 oz jars', 25),
 (31, 'Gorgonzola Telino', 14, 4, '12 - 100 g pkgs', 13),
 (56, 'Gnocchi di nonna Alice', 26, 5, '24 - 250 g pkgs.', 38),
 (15, 'Genen Shouyu', 6, 2, '24 - 250 ml bottles', 16),
 (33, 'Geitost', 15, 4, '500 g', 3),
 (71, 'FlÃ¸temysost', 15, 4, '10 - 500 g pkgs.', 22),
 (52, 'Filo Mix', 24, 5, '16 - 2 kg boxes', 7),
 (58, 'Escargots de Bourgogne', 27, 8, '24 pieces', 13),
 (48, 'Chocolade', 22, 3, '10 pkgs.', 13),
 (5, "Chef Anton's Gumbo Mix", 2, 2, '36 boxes', 21),
 (4, "Chef Anton's Cajun Seasoning", 2, 2, '48 - 6 oz jars', 22),
 (39, 'Chartreuse verte', 18, 1, '750 cc per bottle', 18),
 (2, 'Chang', 1, 1, '24 - 12 oz bottles', 19),
 (1, 'Chais', 1, 1, '10 boxes x 20 bags', 18),
 (18, 'Carnarvon Tigers', 7, 8, '16 kg pkg.', 63),
 (60, 'Camembert Pierrot', 28, 4, '15 - 300 g rounds', 34),
 (38, 'CÃ´te de Blaye', 18, 1, '12 - 75 cl bottles', 264),
 (40, 'Boston Crab Meat', 19, 8, '24 - 4 oz tins', 18),
 (3, 'Aniseed changed', 1, 2, '12 - 550 ml bottles', 10),
 (17, 'Alice Mutton', 7, 6, '20 - 1 kg tins', 39)]

In [22]:
%%sql 
# update row  
update Products set ProductName = "Aniseed changed" where ProductID = 3;

 * mysql://root:***@localhost/sqlpractice_w3school
1 rows affected.

[]

In [23]:
%%sql 
# see the change 
select * from Products

 * mysql://root:***@localhost/sqlpractice_w3school
76 rows affected.

[(1, 'Chais', 1, 1, '10 boxes x 20 bags', 18),
 (2, 'Chang', 1, 1, '24 - 12 oz bottles', 19),
 (3, 'Aniseed changed', 1, 2, '12 - 550 ml bottles', 10),
 (4, "Chef Anton's Cajun Seasoning", 2, 2, '48 - 6 oz jars', 22),
 (5, "Chef Anton's Gumbo Mix", 2, 2, '36 boxes', 21),
 (6, "Grandma's Boysenberry Spread", 3, 2, '12 - 8 oz jars', 25),
 (7, "Uncle Bob's Organic Dried Pears", 3, 7, '12 - 1 lb pkgs.', 30),
 (8, 'Northwoods Cranberry Sauce', 3, 2, '12 - 12 oz jars', 40),
 (9, 'Mishi Kobe Niku', 4, 6, '18 - 500 g pkgs.', 97),
 (10, 'Ikura', 4, 8, '12 - 200 ml jars', 31),
 (11, 'Queso Cabrales', 5, 4, '1 kg pkg.', 21),
 (12, 'Queso Manchego La Pastora', 5, 4, '10 - 500 g pkgs.', 38),
 (13, 'Konbu', 6, 8, '2 kg box', 6),
 (14, 'Tofu', 6, 7, '40 - 100 g pkgs.', 23),
 (15, 'Genen Shouyu', 6, 2, '24 - 250 ml bottles', 16),
 (16, 'Pavlova', 7, 3, '32 - 500 g boxes', 17),
 (17, 'Alice Mutton', 7, 6, '20 - 1 kg tins', 39),
 (18, 'Carnarvon Tigers', 7, 8, '16 kg pkg.', 63),
 (19, 'Teatime Chocolate Biscuits', 8, 3, '10 boxes x 12 pieces', 9),
 (20, "Sir Rodney's Marmalade", 8, 3, '30 gift boxes', 81),
 (21, "Sir Rodney's Scones", 8, 3, '24 pkgs. x 4 pieces', 10),
 (22, "Gustaf's KnÃ¤ckebrÃ¶d", 9, 5, '24 - 500 g pkgs.', 21),
 (23, 'TunnbrÃ¶d', 9, 5, '12 - 250 g pkgs.', 9),
 (24, 'GuaranÃ¡ FantÃ¡stica', 10, 1, '12 - 355 ml cans', 5),
 (25, 'NuNuCa NuÃŸ-Nougat-Creme', 11, 3, '20 - 450 g glasses', 14),
 (26, 'GumbÃ¤r GummibÃ¤rchen', 11, 3, '100 - 250 g bags', 31),
 (27, 'Schoggi Schokolade', 11, 3, '100 - 100 g pieces', 44),
 (28, 'RÃ¶ssle Sauerkraut', 12, 7, '25 - 825 g cans', 46),
 (29, 'ThÃ¼ringer Rostbratwurst', 12, 6, '50 bags x 30 sausgs.', 124),
 (30, 'Nord-Ost Matjeshering', 13, 8, '10 - 200 g glasses', 26),
 (31, 'Gorgonzola Telino', 14, 4, '12 - 100 g pkgs', 13),
 (32, 'Mascarpone Fabioli', 14, 4, '24 - 200 g pkgs.', 32),
 (33, 'Geitost', 15, 4, '500 g', 3),
 (34, 'Sasquatch Ale', 16, 1, '24 - 12 oz bottles', 14),
 (35, 'Steeleye Stout', 16, 1, '24 - 12 oz bottles', 18),
 (36, 'Inlagd Sill', 17, 8, '24 - 250 g jars', 19),
 (37, 'Gravad lax', 17, 8, '12 - 500 g pkgs.', 26),
 (38, 'CÃ´te de Blaye', 18, 1, '12 - 75 cl bottles', 264),
 (39, 'Chartreuse verte', 18, 1, '750 cc per bottle', 18),
 (40, 'Boston Crab Meat', 19, 8, '24 - 4 oz tins', 18),
 (41, "Jack's New England Clam Chowder", 19, 8, '12 - 12 oz cans', 10),
 (42, 'Singaporean Hokkien Fried Mee', 20, 5, '32 - 1 kg pkgs.', 14),
 (43, 'Ipoh Coffee', 20, 1, '16 - 500 g tins', 46),
 (44, 'Gula Malacca', 20, 2, '20 - 2 kg bags', 19),
 (45, 'RÃ¸gede sild', 21, 8, '1k pkg.', 10),
 (46, 'Spegesild', 21, 8, '4 - 450 g glasses', 12),
 (47, 'Zaanse koeken', 22, 3, '10 - 4 oz boxes', 10),
 (48, 'Chocolade', 22, 3, '10 pkgs.', 13),
 (49, 'Maxilaku', 23, 3, '24 - 50 g pkgs.', 20),
 (50, 'Valkoinen suklaa', 23, 3, '12 - 100 g bars', 16),
 (51, 'Manjimup Dried Apples', 24, 7, '50 - 300 g pkgs.', 53),
 (52, 'Filo Mix', 24, 5, '16 - 2 kg boxes', 7),
 (53, 'Perth Pasties', 24, 6, '48 pieces', 33),
 (54, 'TourtiÃ¨re', 25, 6, '16 pies', 7),
 (55, 'PÃ¢tÃ© chinois', 25, 6, '24 boxes x 2 pies', 24),
 (56, 'Gnocchi di nonna Alice', 26, 5, '24 - 250 g pkgs.', 38),
 (57, 'Ravioli Angelo', 26, 5, '24 - 250 g pkgs.', 20),
 (58, 'Escargots de Bourgogne', 27, 8, '24 pieces', 13),
 (59, 'Raclette Courdavault', 28, 4, '5 kg pkg.', 55),
 (60, 'Camembert Pierrot', 28, 4, '15 - 300 g rounds', 34),
 (61, "Sirop d'Ã©rable", 29, 2, '24 - 500 ml bottles', 29),
 (62, 'Tarte au sucre', 29, 3, '48 pies', 49),
 (63, 'Vegie-spread', 7, 2, '15 - 625 g jars', 44),
 (64, 'Wimmers gute SemmelknÃ¶del', 12, 5, '20 bags x 4 pieces', 33),
 (65, 'Louisiana Fiery Hot Pepper Sauce', 2, 2, '32 - 8 oz bottles', 21),
 (66, 'Louisiana Hot Spiced Okra', 2, 2, '24 - 8 oz jars', 17),
 (67, 'Laughing Lumberjack Lager', 16, 1, '24 - 12 oz bottles', 14),
 (68, 'Scottish Longbreads', 8, 3, '10 boxes x 8 pieces', 13),
 (69, 'Gudbrandsdalsost', 15, 4, '10 kg pkg.', 36),
 (70, 'Outback Lager', 7, 1, '24 - 355 ml bottles', 15),
 (71, 'FlÃ¸temysost', 15, 4, '10 - 500 g pkgs.', 22),
 (72, 'Mozzarella di Giovanni', 14, 4, '24 - 200 g pkgs.', 35),
 (73, 'RÃ¶d Kaviar', 17, 8, '24 - 150 g jars', 15),
 (75, 'RhÃ¶nbrÃ¤u Klosterbier', 12, 1, '24 - 0.5 l bottles', 8),
 (76, 'LakkalikÃ¶Ã¶ri', 23, 1, '500 ml ', 18),
 (77, 'Original Frankfurter grÃ¼ne SoÃŸe', 12, 2, '12 boxes', 13)]

In [24]:
%%sql 
# delete row
delete from products where ProductID = 74;

 * mysql://root:***@localhost/sqlpractice_w3school
0 rows affected.

[]

In [25]:
%%sql 
select * from Products;

 * mysql://root:***@localhost/sqlpractice_w3school
76 rows affected.

[(1, 'Chais', 1, 1, '10 boxes x 20 bags', 18),
 (2, 'Chang', 1, 1, '24 - 12 oz bottles', 19),
 (3, 'Aniseed changed', 1, 2, '12 - 550 ml bottles', 10),
 (4, "Chef Anton's Cajun Seasoning", 2, 2, '48 - 6 oz jars', 22),
 (5, "Chef Anton's Gumbo Mix", 2, 2, '36 boxes', 21),
 (6, "Grandma's Boysenberry Spread", 3, 2, '12 - 8 oz jars', 25),
 (7, "Uncle Bob's Organic Dried Pears", 3, 7, '12 - 1 lb pkgs.', 30),
 (8, 'Northwoods Cranberry Sauce', 3, 2, '12 - 12 oz jars', 40),
 (9, 'Mishi Kobe Niku', 4, 6, '18 - 500 g pkgs.', 97),
 (10, 'Ikura', 4, 8, '12 - 200 ml jars', 31),
 (11, 'Queso Cabrales', 5, 4, '1 kg pkg.', 21),
 (12, 'Queso Manchego La Pastora', 5, 4, '10 - 500 g pkgs.', 38),
 (13, 'Konbu', 6, 8, '2 kg box', 6),
 (14, 'Tofu', 6, 7, '40 - 100 g pkgs.', 23),
 (15, 'Genen Shouyu', 6, 2, '24 - 250 ml bottles', 16),
 (16, 'Pavlova', 7, 3, '32 - 500 g boxes', 17),
 (17, 'Alice Mutton', 7, 6, '20 - 1 kg tins', 39),
 (18, 'Carnarvon Tigers', 7, 8, '16 kg pkg.', 63),
 (19, 'Teatime Chocolate Biscuits', 8, 3, '10 boxes x 12 pieces', 9),
 (20, "Sir Rodney's Marmalade", 8, 3, '30 gift boxes', 81),
 (21, "Sir Rodney's Scones", 8, 3, '24 pkgs. x 4 pieces', 10),
 (22, "Gustaf's KnÃ¤ckebrÃ¶d", 9, 5, '24 - 500 g pkgs.', 21),
 (23, 'TunnbrÃ¶d', 9, 5, '12 - 250 g pkgs.', 9),
 (24, 'GuaranÃ¡ FantÃ¡stica', 10, 1, '12 - 355 ml cans', 5),
 (25, 'NuNuCa NuÃŸ-Nougat-Creme', 11, 3, '20 - 450 g glasses', 14),
 (26, 'GumbÃ¤r GummibÃ¤rchen', 11, 3, '100 - 250 g bags', 31),
 (27, 'Schoggi Schokolade', 11, 3, '100 - 100 g pieces', 44),
 (28, 'RÃ¶ssle Sauerkraut', 12, 7, '25 - 825 g cans', 46),
 (29, 'ThÃ¼ringer Rostbratwurst', 12, 6, '50 bags x 30 sausgs.', 124),
 (30, 'Nord-Ost Matjeshering', 13, 8, '10 - 200 g glasses', 26),
 (31, 'Gorgonzola Telino', 14, 4, '12 - 100 g pkgs', 13),
 (32, 'Mascarpone Fabioli', 14, 4, '24 - 200 g pkgs.', 32),
 (33, 'Geitost', 15, 4, '500 g', 3),
 (34, 'Sasquatch Ale', 16, 1, '24 - 12 oz bottles', 14),
 (35, 'Steeleye Stout', 16, 1, '24 - 12 oz bottles', 18),
 (36, 'Inlagd Sill', 17, 8, '24 - 250 g jars', 19),
 (37, 'Gravad lax', 17, 8, '12 - 500 g pkgs.', 26),
 (38, 'CÃ´te de Blaye', 18, 1, '12 - 75 cl bottles', 264),
 (39, 'Chartreuse verte', 18, 1, '750 cc per bottle', 18),
 (40, 'Boston Crab Meat', 19, 8, '24 - 4 oz tins', 18),
 (41, "Jack's New England Clam Chowder", 19, 8, '12 - 12 oz cans', 10),
 (42, 'Singaporean Hokkien Fried Mee', 20, 5, '32 - 1 kg pkgs.', 14),
 (43, 'Ipoh Coffee', 20, 1, '16 - 500 g tins', 46),
 (44, 'Gula Malacca', 20, 2, '20 - 2 kg bags', 19),
 (45, 'RÃ¸gede sild', 21, 8, '1k pkg.', 10),
 (46, 'Spegesild', 21, 8, '4 - 450 g glasses', 12),
 (47, 'Zaanse koeken', 22, 3, '10 - 4 oz boxes', 10),
 (48, 'Chocolade', 22, 3, '10 pkgs.', 13),
 (49, 'Maxilaku', 23, 3, '24 - 50 g pkgs.', 20),
 (50, 'Valkoinen suklaa', 23, 3, '12 - 100 g bars', 16),
 (51, 'Manjimup Dried Apples', 24, 7, '50 - 300 g pkgs.', 53),
 (52, 'Filo Mix', 24, 5, '16 - 2 kg boxes', 7),
 (53, 'Perth Pasties', 24, 6, '48 pieces', 33),
 (54, 'TourtiÃ¨re', 25, 6, '16 pies', 7),
 (55, 'PÃ¢tÃ© chinois', 25, 6, '24 boxes x 2 pies', 24),
 (56, 'Gnocchi di nonna Alice', 26, 5, '24 - 250 g pkgs.', 38),
 (57, 'Ravioli Angelo', 26, 5, '24 - 250 g pkgs.', 20),
 (58, 'Escargots de Bourgogne', 27, 8, '24 pieces', 13),
 (59, 'Raclette Courdavault', 28, 4, '5 kg pkg.', 55),
 (60, 'Camembert Pierrot', 28, 4, '15 - 300 g rounds', 34),
 (61, "Sirop d'Ã©rable", 29, 2, '24 - 500 ml bottles', 29),
 (62, 'Tarte au sucre', 29, 3, '48 pies', 49),
 (63, 'Vegie-spread', 7, 2, '15 - 625 g jars', 44),
 (64, 'Wimmers gute SemmelknÃ¶del', 12, 5, '20 bags x 4 pieces', 33),
 (65, 'Louisiana Fiery Hot Pepper Sauce', 2, 2, '32 - 8 oz bottles', 21),
 (66, 'Louisiana Hot Spiced Okra', 2, 2, '24 - 8 oz jars', 17),
 (67, 'Laughing Lumberjack Lager', 16, 1, '24 - 12 oz bottles', 14),
 (68, 'Scottish Longbreads', 8, 3, '10 boxes x 8 pieces', 13),
 (69, 'Gudbrandsdalsost', 15, 4, '10 kg pkg.', 36),
 (70, 'Outback Lager', 7, 1, '24 - 355 ml bottles', 15),
 (71, 'FlÃ¸temysost', 15, 4, '10 - 500 g pkgs.', 22),
 (72, 'Mozzarella di Giovanni', 14, 4, '24 - 200 g pkgs.', 35),
 (73, 'RÃ¶d Kaviar', 17, 8, '24 - 150 g jars', 15),
 (75, 'RhÃ¶nbrÃ¤u Klosterbier', 12, 1, '24 - 0.5 l bottles', 8),
 (76, 'LakkalikÃ¶Ã¶ri', 23, 1, '500 ml ', 18),
 (77, 'Original Frankfurter grÃ¼ne SoÃŸe', 12, 2, '12 boxes', 13)]

In [26]:
%%sql 
# limit | top 5 highest price product show
select * from Products order by Price desc limit 3;

 * mysql://root:***@localhost/sqlpractice_w3school
3 rows affected.

[(38, 'CÃ´te de Blaye', 18, 1, '12 - 75 cl bottles', 264),
 (29, 'ThÃ¼ringer Rostbratwurst', 12, 6, '50 bags x 30 sausgs.', 124),
 (9, 'Mishi Kobe Niku', 4, 6, '18 - 500 g pkgs.', 97)]

In [27]:
%%sql 
# 3rd highest price product show
# first 2 ignore and after 1 row will be show which is actually 3rd highest  
select * from products order by Price desc limit 2,1;

 * mysql://root:***@localhost/sqlpractice_w3school
1 rows affected.

[(9, 'Mishi Kobe Niku', 4, 6, '18 - 500 g pkgs.', 97)]

In [28]:
%%sql 
# MAXIMUM 
select max(Price) as highest_price from products;

 * mysql://root:***@localhost/sqlpractice_w3school
1 rows affected.

[(264,)]

In [29]:
%%sql 
#MINIMUM
select min(Price) as lowest_price from products;

 * mysql://root:***@localhost/sqlpractice_w3school
1 rows affected.

[(3,)]

In [30]:
%%sql 
select count(ProductName) from Products;

 * mysql://root:***@localhost/sqlpractice_w3school
1 rows affected.

[(76,)]

In [31]:
%%sql 
select avg(Price) from Products;

 * mysql://root:***@localhost/sqlpractice_w3school
1 rows affected.

[(Decimal('29.1711'),)]

In [32]:
%%sql 
select sum(Price) from products;

 * mysql://root:***@localhost/sqlpractice_w3school
1 rows affected.

[(Decimal('2217'),)]

In [33]:
%%sql 
# In 
SELECT * FROM Customers WHERE Country IN ('Germany', 'France', 'UK');

 * mysql://root:***@localhost/sqlpractice_w3school
29 rows affected.

[(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany'),
 (4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK'),
 (6, 'Blauer See Delikatessen', 'Hanna Moos', 'Forsterstr. 57', 'Mannheim', '68306', 'Germany'),
 (7, 'Blondel pÃ¨re et fils', 'FrÃ©dÃ©rique Citeaux', '24, place KlÃ©ber', 'Strasbourg', '67000', 'France'),
 (9, "Bon app'", 'Laurence Lebihans', '12, rue des Bouchers', 'Marseille', '13008', 'France'),
 (11, "B's Beverages", 'Victoria Ashworth', 'Fauntleroy Circus', 'London', 'EC2 5NT', 'UK'),
 (16, 'Consolidated Holdings', 'Elizabeth Brown', 'Berkeley Gardens 12 Brewery ', 'London', 'WX1 6LT', 'UK'),
 (17, 'Drachenblut Delikatessend', 'Sven Ottlieb', 'Walserweg 21', 'Aachen', '52066', 'Germany'),
 (18, 'Du monde entier', 'Janine Labrune', '67, rue des Cinquante Otages', 'Nantes', '44000', 'France'),
 (19, 'Eastern Connection', 'Ann Devon', '35 King George', 'London', 'WX3 6FW', 'UK'),
 (23, 'Folies gourmandes', 'Martine RancÃ©', '184, chaussÃ©e de Tournai', 'Lille', '59000', 'France'),
 (25, 'Frankenversand', 'Peter Franken', 'Berliner Platz 43', 'MÃ¼nchen', '80805', 'Germany'),
 (26, 'France restauration', 'Carine Schmitt', '54, rue Royale', 'Nantes', '44000', 'France'),
 (38, 'Island Trading', 'Helen Bennett', 'Garden House Crowther Way', 'Cowes', 'PO31 7PJ', 'UK'),
 (39, 'KÃ¶niglich Essen', 'Philip Cramer', 'Maubelstr. 90', 'Brandenburg', '14776', 'Germany'),
 (40, "La corne d'abondance", 'Daniel Tonini', "67, avenue de l'Europe", 'Versailles', '78000', 'France'),
 (41, "La maison d'Asie", 'Annette Roulet', '1 rue Alsace-Lorraine', 'Toulouse', '31000', 'France'),
 (44, 'Lehmanns Marktstand', 'Renate Messner', 'Magazinweg 7', 'Frankfurt a.M. ', '60528', 'Germany'),
 (52, 'Morgenstern Gesundkost', 'Alexander Feuer', 'Heerstr. 22', 'Leipzig', '04179', 'Germany'),
 (53, 'North/South', 'Simon Crowther', 'South House 300 Queensbridge', 'London', 'SW7 1RZ', 'UK'),
 (56, 'Ottilies KÃ¤seladen', 'Henriette Pfalzheim', 'Mehrheimerstr. 369', 'KÃ¶ln', '50739', 'Germany'),
 (57, 'Paris spÃ©cialitÃ©s', 'Marie Bertrand', '265, boulevard Charonne', 'Paris', '75012', 'France'),
 (63, 'QUICK-Stop', 'Horst Kloss', 'TaucherstraÃŸe 10', 'Cunewalde', '01307', 'Germany'),
 (72, 'Seven Seas Imports', 'Hari Kumar', '90 Wadhurst Rd.', 'London', 'OX15 4NB', 'UK'),
 (74, 'SpÃ©cialitÃ©s du monde', 'Dominique Perrier', '25, rue Lauriston', 'Paris', '75016', 'France'),
 (79, 'Toms SpezialitÃ¤ten', 'Karin Josephs', 'Luisenstr. 48', 'MÃ¼nster', '44087', 'Germany'),
 (84, 'Victuailles en stock', 'Mary Saveley', '2, rue du Commerce', 'Lyon', '69004', 'France'),
 (85, 'Vins et alcools Chevalier', 'Paul Henriot', "59 rue de l'Abbaye", 'Reims', '51100', 'France'),
 (86, 'Die Wandernde Kuh', 'Rita MÃ¼ller', 'Adenauerallee 900', 'Stuttgart', '70563', 'Germany')]

In [34]:
%%sql 
# not In 
SELECT * FROM Customers WHERE Country not IN ('Germany', 'France', 'UK');

 * mysql://root:***@localhost/sqlpractice_w3school
61 rows affected.

[(2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la ConstituciÃ³n 2222', 'MÃ©xico D.F.', '05021', 'Mexico'),
 (3, 'Antonio Moreno TaquerÃ\xada', 'Antonio Moreno', 'Mataderos 2312', 'MÃ©xico D.F.', '05023', 'Mexico'),
 (5, 'Berglunds snabbkÃ¶p', 'Christina Berglund', 'BerguvsvÃ¤gen 8', 'LuleÃ¥', 'S-958 22', 'Sweden'),
 (8, 'BÃ³lido Comidas preparadas', 'MartÃ\xadn Sommer', 'C/ Araquil, 67', 'Madrid', '28023', 'Spain'),
 (10, 'Bottom-Dollar Marketse', 'Elizabeth Lincoln', '23 Tsawassen Blvd.', 'Tsawassen', 'T2F 8M4', 'Canada'),
 (12, 'Cactus Comidas para llevar', 'Patricio Simpson', 'Cerrito 333', 'Buenos Aires', '1010', 'Argentina'),
 (13, 'Centro comercial Moctezuma', 'Francisco Chang', 'Sierras de Granada 9993', 'MÃ©xico D.F.', '05022', 'Mexico'),
 (14, 'Chop-suey Chinese', 'Yang Wang', 'Hauptstr. 29', 'Bern', '3012', 'Switzerland'),
 (15, 'ComÃ©rcio Mineiro', 'Pedro Afonso', 'Av. dos LusÃ\xadadas, 23', 'SÃ£o Paulo', '05432-043', 'Brazil'),
 (20, 'Ernst Handel', 'Roland Mendel', 'Kirchgasse 6', 'Graz', '8010', 'Austria'),
 (21, 'Familia Arquibaldo', 'Aria Cruz', 'Rua OrÃ³s, 92', 'SÃ£o Paulo', '05442-030', 'Brazil'),
 (22, 'FISSA Fabrica Inter. Salchichas S.A.', 'Diego Roel', 'C/ Moralzarzal, 86', 'Madrid', '28034', 'Spain'),
 (24, 'Folk och fÃ¤ HB', 'Maria Larsson', 'Ã…kergatan 24', 'BrÃ¤cke', 'S-844 67', 'Sweden'),
 (27, 'Franchi S.p.A.', 'Paolo Accorti', 'Via Monte Bianco 34', 'Torino', '10100', 'Italy'),
 (28, 'Furia Bacalhau e Frutos do Mar', 'Lino Rodriguez ', 'Jardim das rosas n. 32', 'Lisboa', '1675', 'Portugal'),
 (29, 'GalerÃ\xada del gastrÃ³nomo', 'Eduardo Saavedra', 'Rambla de CataluÃ±a, 23', 'Barcelona', '08022', 'Spain'),
 (30, 'Godos Cocina TÃ\xadpica', 'JosÃ© Pedro Freyre', 'C/ Romero, 33', 'Sevilla', '41101', 'Spain'),
 (31, 'Gourmet Lanchonetes', 'AndrÃ© Fonseca', 'Av. Brasil, 442', 'Campinas', '04876-786', 'Brazil'),
 (32, 'Great Lakes Food Market', 'Howard Snyder', '2732 Baker Blvd.', 'Eugene', '97403', 'USA'),
 (33, 'GROSELLA-Restaurante', 'Manuel Pereira', '5Âª Ave. Los Palos Grandes', 'Caracas', '1081', 'Venezuela'),
 (34, 'Hanari Carnes', 'Mario Pontes', 'Rua do PaÃ§o, 67', 'Rio de Janeiro', '05454-876', 'Brazil'),
 (35, 'HILARIÃ“N-Abastos', 'Carlos HernÃ¡ndez', 'Carrera 22 con Ave. Carlos Soublette #8-35', 'San CristÃ³bal', '5022', 'Venezuela'),
 (36, 'Hungry Coyote Import Store', 'Yoshi Latimer', 'City Center Plaza 516 Main St.', 'Elgin', '97827', 'USA'),
 (42, 'Laughing Bacchus Wine Cellars', 'Yoshi Tannamuri', '1900 Oak St.', 'Vancouver', 'V3F 2K1', 'Canada'),
 (43, 'Lazy K Kountry Store', 'John Steel', '12 Orchestra Terrace', 'Walla Walla', '99362', 'USA'),
 (45, "Let's Stop N Shop", 'Jaime Yorres', '87 Polk St. Suite 5', 'San Francisco', '94117', 'USA'),
 (46, 'LILA-Supermercado', 'Carlos GonzÃ¡lez', 'Carrera 52 con Ave. BolÃ\xadvar #65-98 Llano Largo', 'Barquisimeto', '3508', 'Venezuela'),
 (47, 'LINO-Delicateses', 'Felipe Izquierdo', 'Ave. 5 de Mayo Porlamar', 'I. de Margarita', '4980', 'Venezuela'),
 (48, 'Lonesome Pine Restaurant', 'Fran Wilson', '89 Chiaroscuro Rd.', 'Portland', '97219', 'USA'),
 (49, 'Magazzini Alimentari Riuniti', 'Giovanni Rovelli', 'Via Ludovico il Moro 22', 'Bergamo', '24100', 'Italy'),
 (50, 'Maison Dewey', 'Catherine Dewey', 'Rue Joseph-Bens 532', 'Bruxelles', 'B-1180', 'Belgium'),
 (51, 'MÃ¨re Paillarde', 'Jean FresniÃ¨re', '43 rue St. Laurent', 'MontrÃ©al', 'H1J 1C3', 'Canada'),
 (54, 'OcÃ©ano AtlÃ¡ntico Ltda.', 'Yvonne Moncada', 'Ing. Gustavo Moncada 8585 Piso 20-A', 'Buenos Aires', '1010', 'Argentina'),
 (55, 'Old World Delicatessen', 'Rene Phillips', '2743 Bering St.', 'Anchorage', '99508', 'USA'),
 (58, 'Pericles Comidas clÃ¡sicas', 'Guillermo FernÃ¡ndez', 'Calle Dr. Jorge Cash 321', 'MÃ©xico D.F.', '05033', 'Mexico'),
 (59, 'Piccolo und mehr', 'Georg Pipps', 'Geislweg 14', 'Salzburg', '5020', 'Austria'),
 (60, 'Princesa Isabel Vinhoss', 'Isabel de Castro', 'Estrada da saÃºde n. 58', 'Lisboa', '1756', 'Portugal'),
 (61, 'Que DelÃ\xadcia', 'Bernardo Batista', 'Rua da Panificadora, 12', 'Rio de Janeiro', '02389-673', 'Brazil'),
 (62, 'Queen Cozinha', 'LÃºcia Carvalho', 'Alameda dos CanÃ\xa0rios, 891', 'SÃ£o Paulo', '05487-020', 'Brazil'),
 (64, 'Rancho grande', 'Sergio GutiÃ©rrez', 'Av. del Libertador 900', 'Buenos Aires', '1010', 'Argentina'),
 (65, 'Rattlesnake Canyon Grocery', 'Paula Wilson', '2817 Milton Dr.', 'Albuquerque', '87110', 'USA'),
 (66, 'Reggiani Caseifici', 'Maurizio Moroni', 'Strada Provinciale 124', 'Reggio Emilia', '42100', 'Italy'),
 (67, 'Ricardo Adocicados', 'Janete Limeira', 'Av. Copacabana, 267', 'Rio de Janeiro', '02389-890', 'Brazil'),
 (68, 'Richter Supermarkt', 'Michael Holz', 'Grenzacherweg 237', 'GenÃ¨ve', '1203', 'Switzerland'),
 (69, 'Romero y tomillo', 'Alejandra Camino', 'Gran VÃ\xada, 1', 'Madrid', '28001', 'Spain'),
 (70, 'SantÃ© Gourmet', 'Jonas Bergulfsen', 'Erling Skakkes gate 78', 'Stavern', '4110', 'Norway'),
 (71, 'Save-a-lot Markets', 'Jose Pavarotti', '187 Suffolk Ln.', 'Boise', '83720', 'USA'),
 (73, 'Simons bistro', 'Jytte Petersen', 'VinbÃ¦ltet 34', 'KÃ¸benhavn', '1734', 'Denmark'),
 (75, 'Split Rail Beer &amp; Ale', 'Art Braunschweiger', 'P.O. Box 555', 'Lander', '82520', 'USA'),
 (76, 'SuprÃªmes dÃ©lices', 'Pascale Cartrain', 'Boulevard Tirou, 255', 'Charleroi', 'B-6000', 'Belgium'),
 (77, 'The Big Cheese', 'Liz Nixon', '89 Jefferson Way Suite 2', 'Portland', '97201', 'USA'),
 (78, 'The Cracker Box', 'Liu Wong', '55 Grizzly Peak Rd.', 'Butte', '59801', 'USA'),
 (80, 'Tortuga Restaurante', 'Miguel Angel Paolino', 'Avda. Azteca 123', 'MÃ©xico D.F.', '05033', 'Mexico'),
 (81, 'TradiÃ§Ã£o Hipermercados', 'Anabela Domingues', 'Av. InÃªs de Castro, 414', 'SÃ£o Paulo', '05634-030', 'Brazil'),
 (82, "Trail's Head Gourmet Provisioners", 'Helvetius Nagy', '722 DaVinci Blvd.', 'Kirkland', '98034', 'USA'),
 (83, 'Vaffeljernet', 'Palle Ibsen', 'SmagslÃ¸get 45', 'Ã…rhus', '8200', 'Denmark'),
 (87, 'Wartian Herkku', 'Pirkko Koskitalo', 'Torikatu 38', 'Oulu', '90110', 'Finland'),
 (88, 'Wellington Importadora', 'Paula Parente', 'Rua do Mercado, 12', 'Resende', '08737-363', 'Brazil'),
 (89, 'White Clover Markets', 'Karl Jablonski', '305 - 14th Ave. S. Suite 3B', 'Seattle', '98128', 'USA'),
 (90, 'Wilman Kala', 'Matti Karttunen', 'Keskuskatu 45', 'Helsinki', '21240', 'Finland'),
 (91, 'Wolski', 'Zbyszek', 'ul. Filtrowa 68', 'Walla', '01-012', 'Poland')]

In [35]:
%%sql 
SELECT * FROM Customers WHERE Country IN (SELECT distinct Country FROM Suppliers);

 * mysql://root:***@localhost/sqlpractice_w3school
57 rows affected.

[(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany'),
 (6, 'Blauer See Delikatessen', 'Hanna Moos', 'Forsterstr. 57', 'Mannheim', '68306', 'Germany'),
 (7, 'Blondel pÃ¨re et fils', 'FrÃ©dÃ©rique Citeaux', '24, place KlÃ©ber', 'Strasbourg', '67000', 'France'),
 (8, 'BÃ³lido Comidas preparadas', 'MartÃ\xadn Sommer', 'C/ Araquil, 67', 'Madrid', '28023', 'Spain'),
 (9, "Bon app'", 'Laurence Lebihans', '12, rue des Bouchers', 'Marseille', '13008', 'France'),
 (15, 'ComÃ©rcio Mineiro', 'Pedro Afonso', 'Av. dos LusÃ\xadadas, 23', 'SÃ£o Paulo', '05432-043', 'Brazil'),
 (17, 'Drachenblut Delikatessend', 'Sven Ottlieb', 'Walserweg 21', 'Aachen', '52066', 'Germany'),
 (18, 'Du monde entier', 'Janine Labrune', '67, rue des Cinquante Otages', 'Nantes', '44000', 'France'),
 (21, 'Familia Arquibaldo', 'Aria Cruz', 'Rua OrÃ³s, 92', 'SÃ£o Paulo', '05442-030', 'Brazil'),
 (22, 'FISSA Fabrica Inter. Salchichas S.A.', 'Diego Roel', 'C/ Moralzarzal, 86', 'Madrid', '28034', 'Spain'),
 (23, 'Folies gourmandes', 'Martine RancÃ©', '184, chaussÃ©e de Tournai', 'Lille', '59000', 'France'),
 (25, 'Frankenversand', 'Peter Franken', 'Berliner Platz 43', 'MÃ¼nchen', '80805', 'Germany'),
 (26, 'France restauration', 'Carine Schmitt', '54, rue Royale', 'Nantes', '44000', 'France'),
 (27, 'Franchi S.p.A.', 'Paolo Accorti', 'Via Monte Bianco 34', 'Torino', '10100', 'Italy'),
 (29, 'GalerÃ\xada del gastrÃ³nomo', 'Eduardo Saavedra', 'Rambla de CataluÃ±a, 23', 'Barcelona', '08022', 'Spain'),
 (30, 'Godos Cocina TÃ\xadpica', 'JosÃ© Pedro Freyre', 'C/ Romero, 33', 'Sevilla', '41101', 'Spain'),
 (31, 'Gourmet Lanchonetes', 'AndrÃ© Fonseca', 'Av. Brasil, 442', 'Campinas', '04876-786', 'Brazil'),
 (32, 'Great Lakes Food Market', 'Howard Snyder', '2732 Baker Blvd.', 'Eugene', '97403', 'USA'),
 (34, 'Hanari Carnes', 'Mario Pontes', 'Rua do PaÃ§o, 67', 'Rio de Janeiro', '05454-876', 'Brazil'),
 (36, 'Hungry Coyote Import Store', 'Yoshi Latimer', 'City Center Plaza 516 Main St.', 'Elgin', '97827', 'USA'),
 (39, 'KÃ¶niglich Essen', 'Philip Cramer', 'Maubelstr. 90', 'Brandenburg', '14776', 'Germany'),
 (40, "La corne d'abondance", 'Daniel Tonini', "67, avenue de l'Europe", 'Versailles', '78000', 'France'),
 (41, "La maison d'Asie", 'Annette Roulet', '1 rue Alsace-Lorraine', 'Toulouse', '31000', 'France'),
 (43, 'Lazy K Kountry Store', 'John Steel', '12 Orchestra Terrace', 'Walla Walla', '99362', 'USA'),
 (44, 'Lehmanns Marktstand', 'Renate Messner', 'Magazinweg 7', 'Frankfurt a.M. ', '60528', 'Germany'),
 (45, "Let's Stop N Shop", 'Jaime Yorres', '87 Polk St. Suite 5', 'San Francisco', '94117', 'USA'),
 (48, 'Lonesome Pine Restaurant', 'Fran Wilson', '89 Chiaroscuro Rd.', 'Portland', '97219', 'USA'),
 (49, 'Magazzini Alimentari Riuniti', 'Giovanni Rovelli', 'Via Ludovico il Moro 22', 'Bergamo', '24100', 'Italy'),
 (52, 'Morgenstern Gesundkost', 'Alexander Feuer', 'Heerstr. 22', 'Leipzig', '04179', 'Germany'),
 (55, 'Old World Delicatessen', 'Rene Phillips', '2743 Bering St.', 'Anchorage', '99508', 'USA'),
 (56, 'Ottilies KÃ¤seladen', 'Henriette Pfalzheim', 'Mehrheimerstr. 369', 'KÃ¶ln', '50739', 'Germany'),
 (57, 'Paris spÃ©cialitÃ©s', 'Marie Bertrand', '265, boulevard Charonne', 'Paris', '75012', 'France'),
 (61, 'Que DelÃ\xadcia', 'Bernardo Batista', 'Rua da Panificadora, 12', 'Rio de Janeiro', '02389-673', 'Brazil'),
 (62, 'Queen Cozinha', 'LÃºcia Carvalho', 'Alameda dos CanÃ\xa0rios, 891', 'SÃ£o Paulo', '05487-020', 'Brazil'),
 (63, 'QUICK-Stop', 'Horst Kloss', 'TaucherstraÃŸe 10', 'Cunewalde', '01307', 'Germany'),
 (65, 'Rattlesnake Canyon Grocery', 'Paula Wilson', '2817 Milton Dr.', 'Albuquerque', '87110', 'USA'),
 (66, 'Reggiani Caseifici', 'Maurizio Moroni', 'Strada Provinciale 124', 'Reggio Emilia', '42100', 'Italy'),
 (67, 'Ricardo Adocicados', 'Janete Limeira', 'Av. Copacabana, 267', 'Rio de Janeiro', '02389-890', 'Brazil'),
 (69, 'Romero y tomillo', 'Alejandra Camino', 'Gran VÃ\xada, 1', 'Madrid', '28001', 'Spain'),
 (70, 'SantÃ© Gourmet', 'Jonas Bergulfsen', 'Erling Skakkes gate 78', 'Stavern', '4110', 'Norway'),
 (71, 'Save-a-lot Markets', 'Jose Pavarotti', '187 Suffolk Ln.', 'Boise', '83720', 'USA'),
 (73, 'Simons bistro', 'Jytte Petersen', 'VinbÃ¦ltet 34', 'KÃ¸benhavn', '1734', 'Denmark'),
 (74, 'SpÃ©cialitÃ©s du monde', 'Dominique Perrier', '25, rue Lauriston', 'Paris', '75016', 'France'),
 (75, 'Split Rail Beer &amp; Ale', 'Art Braunschweiger', 'P.O. Box 555', 'Lander', '82520', 'USA'),
 (77, 'The Big Cheese', 'Liz Nixon', '89 Jefferson Way Suite 2', 'Portland', '97201', 'USA'),
 (78, 'The Cracker Box', 'Liu Wong', '55 Grizzly Peak Rd.', 'Butte', '59801', 'USA'),
 (79, 'Toms SpezialitÃ¤ten', 'Karin Josephs', 'Luisenstr. 48', 'MÃ¼nster', '44087', 'Germany'),
 (81, 'TradiÃ§Ã£o Hipermercados', 'Anabela Domingues', 'Av. InÃªs de Castro, 414', 'SÃ£o Paulo', '05634-030', 'Brazil'),
 (82, "Trail's Head Gourmet Provisioners", 'Helvetius Nagy', '722 DaVinci Blvd.', 'Kirkland', '98034', 'USA'),
 (83, 'Vaffeljernet', 'Palle Ibsen', 'SmagslÃ¸get 45', 'Ã…rhus', '8200', 'Denmark'),
 (84, 'Victuailles en stock', 'Mary Saveley', '2, rue du Commerce', 'Lyon', '69004', 'France'),
 (85, 'Vins et alcools Chevalier', 'Paul Henriot', "59 rue de l'Abbaye", 'Reims', '51100', 'France'),
 (86, 'Die Wandernde Kuh', 'Rita MÃ¼ller', 'Adenauerallee 900', 'Stuttgart', '70563', 'Germany'),
 (87, 'Wartian Herkku', 'Pirkko Koskitalo', 'Torikatu 38', 'Oulu', '90110', 'Finland'),
 (88, 'Wellington Importadora', 'Paula Parente', 'Rua do Mercado, 12', 'Resende', '08737-363', 'Brazil'),
 (89, 'White Clover Markets', 'Karl Jablonski', '305 - 14th Ave. S. Suite 3B', 'Seattle', '98128', 'USA'),
 (90, 'Wilman Kala', 'Matti Karttunen', 'Keskuskatu 45', 'Helsinki', '21240', 'Finland')]

In [36]:
%%sql 
select * from Products where Price between 18 and 20 and CategoryID in (1,2)

 * mysql://root:***@localhost/sqlpractice_w3school
6 rows affected.

[(1, 'Chais', 1, 1, '10 boxes x 20 bags', 18),
 (2, 'Chang', 1, 1, '24 - 12 oz bottles', 19),
 (35, 'Steeleye Stout', 16, 1, '24 - 12 oz bottles', 18),
 (39, 'Chartreuse verte', 18, 1, '750 cc per bottle', 18),
 (44, 'Gula Malacca', 20, 2, '20 - 2 kg bags', 19),
 (76, 'LakkalikÃ¶Ã¶ri', 23, 1, '500 ml ', 18)]

In [37]:
%%sql 
select * from orders

 * mysql://root:***@localhost/sqlpractice_w3school
196 rows affected.

[(10248, 90, 5, '1996-07-04', 3),
 (10249, 81, 6, '1996-07-05', 1),
 (10250, 34, 4, '1996-07-08', 2),
 (10251, 84, 3, '1996-07-08', 1),
 (10252, 76, 4, '1996-07-09', 2),
 (10253, 34, 3, '1996-07-10', 2),
 (10254, 14, 5, '1996-07-11', 2),
 (10255, 68, 9, '1996-07-12', 3),
 (10256, 88, 3, '1996-07-15', 2),
 (10257, 35, 4, '1996-07-16', 3),
 (10258, 20, 1, '1996-07-17', 1),
 (10259, 13, 4, '1996-07-18', 3),
 (10260, 55, 4, '1996-07-19', 1),
 (10261, 61, 4, '1996-07-19', 2),
 (10262, 65, 8, '1996-07-22', 3),
 (10263, 20, 9, '1996-07-23', 3),
 (10264, 24, 6, '1996-07-24', 3),
 (10265, 7, 2, '1996-07-25', 1),
 (10266, 87, 3, '1996-07-26', 3),
 (10267, 25, 4, '1996-07-29', 1),
 (10268, 33, 8, '1996-07-30', 3),
 (10269, 89, 5, '1996-07-31', 1),
 (10270, 87, 1, '1996-08-01', 1),
 (10271, 75, 6, '1996-08-01', 2),
 (10272, 65, 6, '1996-08-02', 2),
 (10273, 63, 3, '1996-08-05', 3),
 (10274, 85, 6, '1996-08-06', 1),
 (10275, 49, 1, '1996-08-07', 1),
 (10276, 80, 8, '1996-08-08', 3),
 (10277, 52, 2, '1996-08-09', 3),
 (10278, 5, 8, '1996-08-12', 2),
 (10279, 44, 8, '1996-08-13', 2),
 (10280, 5, 2, '1996-08-14', 1),
 (10281, 69, 4, '1996-08-14', 1),
 (10282, 69, 4, '1996-08-15', 1),
 (10283, 46, 3, '1996-08-16', 3),
 (10284, 44, 4, '1996-08-19', 1),
 (10285, 63, 1, '1996-08-20', 2),
 (10286, 63, 8, '1996-08-21', 3),
 (10287, 67, 8, '1996-08-22', 3),
 (10288, 66, 4, '1996-08-23', 1),
 (10289, 11, 7, '1996-08-26', 3),
 (10290, 15, 8, '1996-08-27', 1),
 (10291, 61, 6, '1996-08-27', 2),
 (10292, 81, 1, '1996-08-28', 2),
 (10293, 80, 1, '1996-08-29', 3),
 (10294, 65, 4, '1996-08-30', 2),
 (10295, 85, 2, '1996-09-02', 2),
 (10296, 46, 6, '1996-09-03', 1),
 (10297, 7, 5, '1996-09-04', 2),
 (10298, 37, 6, '1996-09-05', 2),
 (10299, 67, 4, '1996-09-06', 2),
 (10300, 49, 2, '1996-09-09', 2),
 (10301, 86, 8, '1996-09-09', 2),
 (10302, 76, 4, '1996-09-10', 2),
 (10303, 30, 7, '1996-09-11', 2),
 (10304, 80, 1, '1996-09-12', 2),
 (10305, 55, 8, '1996-09-13', 3),
 (10306, 69, 1, '1996-09-16', 3),
 (10307, 48, 2, '1996-09-17', 2),
 (10308, 2, 7, '1996-09-18', 3),
 (10309, 37, 3, '1996-09-19', 1),
 (10310, 77, 8, '1996-09-20', 2),
 (10311, 18, 1, '1996-09-20', 3),
 (10312, 86, 2, '1996-09-23', 2),
 (10313, 63, 2, '1996-09-24', 2),
 (10314, 65, 1, '1996-09-25', 2),
 (10315, 38, 4, '1996-09-26', 2),
 (10316, 65, 1, '1996-09-27', 3),
 (10317, 48, 6, '1996-09-30', 1),
 (10318, 38, 8, '1996-10-01', 2),
 (10319, 80, 7, '1996-10-02', 3),
 (10320, 87, 5, '1996-10-03', 3),
 (10321, 38, 3, '1996-10-03', 2),
 (10322, 58, 7, '1996-10-04', 3),
 (10323, 39, 4, '1996-10-07', 1),
 (10324, 71, 9, '1996-10-08', 1),
 (10325, 39, 1, '1996-10-09', 3),
 (10326, 8, 4, '1996-10-10', 2),
 (10327, 24, 2, '1996-10-11', 1),
 (10328, 28, 4, '1996-10-14', 3),
 (10329, 75, 4, '1996-10-15', 2),
 (10330, 46, 3, '1996-10-16', 1),
 (10331, 9, 9, '1996-10-16', 1),
 (10332, 51, 3, '1996-10-17', 2),
 (10333, 87, 5, '1996-10-18', 3),
 (10334, 84, 8, '1996-10-21', 2),
 (10335, 37, 7, '1996-10-22', 2),
 (10336, 60, 7, '1996-10-23', 2),
 (10337, 25, 4, '1996-10-24', 3),
 (10338, 55, 4, '1996-10-25', 3),
 (10339, 51, 2, '1996-10-28', 2),
 (10340, 9, 1, '1996-10-29', 3),
 (10341, 73, 7, '1996-10-29', 3),
 (10342, 25, 4, '1996-10-30', 2),
 (10343, 44, 4, '1996-10-31', 1),
 (10344, 89, 4, '1996-11-01', 2),
 (10345, 63, 2, '1996-11-04', 2),
 (10346, 65, 3, '1996-11-05', 3),
 (10347, 21, 4, '1996-11-06', 3),
 (10348, 86, 4, '1996-11-07', 2),
 (10349, 75, 7, '1996-11-08', 1),
 (10350, 41, 6, '1996-11-11', 2),
 (10351, 20, 1, '1996-11-11', 1),
 (10352, 28, 3, '1996-11-12', 3),
 (10353, 59, 7, '1996-11-13', 3),
 (10354, 58, 8, '1996-11-14', 3),
 (10355, 4, 6, '1996-11-15', 1),
 (10356, 86, 6, '1996-11-18', 2),
 (10357, 46, 1, '1996-11-19', 3),
 (10358, 41, 5, '1996-11-20', 1),
 (10359, 72, 5, '1996-11-21', 3),
 (10360, 7, 4, '1996-11-22', 3),
 (10361, 63, 1, '1996-11-22', 2),
 (10362, 9, 3, '1996-11-25', 1),
 (10363, 17, 4, '1996-11-26', 3),
 (10364, 19, 1, '1996-11-26', 1),
 (10365, 3, 3, '1996-11-27', 2),
 (10366, 29, 8, '1996-11-28', 2),
 (10367, 83, 7, '1996-11-28', 3),
 (10368, 20, 2, '1996-11-29', 2),
 (10369, 75, 8, '1996-12-02', 2),
 (10370, 14, 6, '1996-12-03', 2),
 (10371, 41, 1, '1996-12-03', 1),
 (10372, 62, 5, '1996-12-04', 2),
 (10373, 37, 4, '1996-12-05', 3),
 (10374, 91, 1, '1996-12-05', 3),
 (10375, 36, 3, '1996-12-06', 2),
 (10376, 51, 1, '1996-12-09', 2),
 (10377, 72, 1, '1996-12-09', 3),
 (10378, 24, 5, '1996-12-10', 3),
 (10379, 61, 2, '1996-12-11', 1),
 (10380, 37, 8, '1996-12-12', 3),
 (10381, 46, 3, '1996-12-12', 3),
 (10382, 20, 4, '1996-12-13', 1),
 (10383, 4, 8, '1996-12-16', 3),
 (10384, 5, 3, '1996-12-16', 3),
 (10385, 75, 1, '1996-12-17', 2),
 (10386, 21, 9, '1996-12-18', 3),
 (10387, 70, 1, '1996-12-18', 2),
 (10388, 72, 2, '1996-12-19', 1),
 (10389, 10, 4, '1996-12-20', 2),
 (10390, 20, 6, '1996-12-23', 1),
 (10391, 17, 3, '1996-12-23', 3),
 (10392, 59, 2, '1996-12-24', 3),
 (10393, 71, 1, '1996-12-25', 3),
 (10394, 36, 1, '1996-12-25', 3),
 (10395, 35, 6, '1996-12-26', 1),
 (10396, 25, 1, '1996-12-27', 3),
 (10397, 60, 5, '1996-12-27', 1),
 (10398, 71, 2, '1996-12-30', 3),
 (10399, 83, 8, '1996-12-31', 3),
 (10400, 19, 1, '1997-01-01', 3),
 (10401, 65, 1, '1997-01-01', 1),
 (10402, 20, 8, '1997-01-02', 2),
 (10403, 20, 4, '1997-01-03', 3),
 (10404, 49, 2, '1997-01-03', 1),
 (10405, 47, 1, '1997-01-06', 1),
 (10406, 62, 7, '1997-01-07', 1),
 (10407, 56, 2, '1997-01-07', 2),
 (10408, 23, 8, '1997-01-08', 1),
 (10409, 54, 3, '1997-01-09', 1),
 (10410, 10, 3, '1997-01-10', 3),
 (10411, 10, 9, '1997-01-10', 3),
 (10412, 87, 8, '1997-01-13', 2),
 (10413, 41, 3, '1997-01-14', 2),
 (10414, 21, 2, '1997-01-14', 3),
 (10415, 36, 3, '1997-01-15', 1),
 (10416, 87, 8, '1997-01-16', 3),
 (10417, 73, 4, '1997-01-16', 3),
 (10418, 63, 4, '1997-01-17', 1),
 (10419, 68, 4, '1997-01-20', 2),
 (10420, 88, 3, '1997-01-21', 1),
 (10421, 61, 8, '1997-01-21', 1),
 (10422, 27, 2, '1997-01-22', 1),
 (10423, 31, 6, '1997-01-23', 3),
 (10424, 51, 7, '1997-01-23', 2),
 (10425, 41, 6, '1997-01-24', 2),
 (10426, 29, 4, '1997-01-27', 1),
 (10427, 59, 4, '1997-01-27', 2),
 (10428, 66, 7, '1997-01-28', 1),
 (10429, 37, 3, '1997-01-29', 2),
 (10430, 20, 4, '1997-01-30', 1),
 (10431, 10, 4, '1997-01-30', 2),
 (10432, 75, 3, '1997-01-31', 2),
 (10433, 60, 3, '1997-02-03', 3),
 (10434, 24, 3, '1997-02-03', 2),
 (10435, 16, 8, '1997-02-04', 2),
 (10436, 7, 3, '1997-02-05', 2),
 (10437, 87, 8, '1997-02-05', 1),
 (10438, 79, 3, '1997-02-06', 2),
 (10439, 51, 6, '1997-02-07', 3),
 (10440, 71, 4, '1997-02-10', 2),
 (10441, 55, 3, '1997-02-10', 2),
 (10442, 20, 3, '1997-02-11', 2),
 (10443, 66, 8, '1997-02-12', 1)]

## Date query

In [38]:
%%sql 
select * from orders where OrderDate between '1996-07-10' and '1996-07-31'

 * mysql://root:***@localhost/sqlpractice_w3school
17 rows affected.

[(10253, 34, 3, '1996-07-10', 2),
 (10254, 14, 5, '1996-07-11', 2),
 (10255, 68, 9, '1996-07-12', 3),
 (10256, 88, 3, '1996-07-15', 2),
 (10257, 35, 4, '1996-07-16', 3),
 (10258, 20, 1, '1996-07-17', 1),
 (10259, 13, 4, '1996-07-18', 3),
 (10260, 55, 4, '1996-07-19', 1),
 (10261, 61, 4, '1996-07-19', 2),
 (10262, 65, 8, '1996-07-22', 3),
 (10263, 20, 9, '1996-07-23', 3),
 (10264, 24, 6, '1996-07-24', 3),
 (10265, 7, 2, '1996-07-25', 1),
 (10266, 87, 3, '1996-07-26', 3),
 (10267, 25, 4, '1996-07-29', 1),
 (10268, 33, 8, '1996-07-30', 3),
 (10269, 89, 5, '1996-07-31', 1)]

In [39]:
%%sql 
# Get the current date and time:
select now()

 * mysql://root:***@localhost/sqlpractice_w3school
1 rows affected.

[(datetime.datetime(2023, 4, 5, 11, 40, 11),)]

In [40]:
%%sql 
# Get the current date:
select curdate()

 * mysql://root:***@localhost/sqlpractice_w3school
1 rows affected.

[(datetime.date(2023, 4, 5),)]

In [41]:
%%sql 
# Get the current time:
select curtime()

 * mysql://root:***@localhost/sqlpractice_w3school
1 rows affected.

[(datetime.timedelta(seconds=42011),)]

In [42]:
%%sql 
# Extract year, month or day from a date:
select year(orderdate) , month(orderdate) , day(orderdate) from orders

 * mysql://root:***@localhost/sqlpractice_w3school
196 rows affected.

[(1996, 7, 4),
 (1996, 7, 5),
 (1996, 7, 8),
 (1996, 7, 8),
 (1996, 7, 9),
 (1996, 7, 10),
 (1996, 7, 11),
 (1996, 7, 12),
 (1996, 7, 15),
 (1996, 7, 16),
 (1996, 7, 17),
 (1996, 7, 18),
 (1996, 7, 19),
 (1996, 7, 19),
 (1996, 7, 22),
 (1996, 7, 23),
 (1996, 7, 24),
 (1996, 7, 25),
 (1996, 7, 26),
 (1996, 7, 29),
 (1996, 7, 30),
 (1996, 7, 31),
 (1996, 8, 1),
 (1996, 8, 1),
 (1996, 8, 2),
 (1996, 8, 5),
 (1996, 8, 6),
 (1996, 8, 7),
 (1996, 8, 8),
 (1996, 8, 9),
 (1996, 8, 12),
 (1996, 8, 13),
 (1996, 8, 14),
 (1996, 8, 14),
 (1996, 8, 15),
 (1996, 8, 16),
 (1996, 8, 19),
 (1996, 8, 20),
 (1996, 8, 21),
 (1996, 8, 22),
 (1996, 8, 23),
 (1996, 8, 26),
 (1996, 8, 27),
 (1996, 8, 27),
 (1996, 8, 28),
 (1996, 8, 29),
 (1996, 8, 30),
 (1996, 9, 2),
 (1996, 9, 3),
 (1996, 9, 4),
 (1996, 9, 5),
 (1996, 9, 6),
 (1996, 9, 9),
 (1996, 9, 9),
 (1996, 9, 10),
 (1996, 9, 11),
 (1996, 9, 12),
 (1996, 9, 13),
 (1996, 9, 16),
 (1996, 9, 17),
 (1996, 9, 18),
 (1996, 9, 19),
 (1996, 9, 20),
 (1996, 9, 20),
 (1996, 9, 23),
 (1996, 9, 24),
 (1996, 9, 25),
 (1996, 9, 26),
 (1996, 9, 27),
 (1996, 9, 30),
 (1996, 10, 1),
 (1996, 10, 2),
 (1996, 10, 3),
 (1996, 10, 3),
 (1996, 10, 4),
 (1996, 10, 7),
 (1996, 10, 8),
 (1996, 10, 9),
 (1996, 10, 10),
 (1996, 10, 11),
 (1996, 10, 14),
 (1996, 10, 15),
 (1996, 10, 16),
 (1996, 10, 16),
 (1996, 10, 17),
 (1996, 10, 18),
 (1996, 10, 21),
 (1996, 10, 22),
 (1996, 10, 23),
 (1996, 10, 24),
 (1996, 10, 25),
 (1996, 10, 28),
 (1996, 10, 29),
 (1996, 10, 29),
 (1996, 10, 30),
 (1996, 10, 31),
 (1996, 11, 1),
 (1996, 11, 4),
 (1996, 11, 5),
 (1996, 11, 6),
 (1996, 11, 7),
 (1996, 11, 8),
 (1996, 11, 11),
 (1996, 11, 11),
 (1996, 11, 12),
 (1996, 11, 13),
 (1996, 11, 14),
 (1996, 11, 15),
 (1996, 11, 18),
 (1996, 11, 19),
 (1996, 11, 20),
 (1996, 11, 21),
 (1996, 11, 22),
 (1996, 11, 22),
 (1996, 11, 25),
 (1996, 11, 26),
 (1996, 11, 26),
 (1996, 11, 27),
 (1996, 11, 28),
 (1996, 11, 28),
 (1996, 11, 29),
 (1996, 12, 2),
 (1996, 12, 3),
 (1996, 12, 3),
 (1996, 12, 4),
 (1996, 12, 5),
 (1996, 12, 5),
 (1996, 12, 6),
 (1996, 12, 9),
 (1996, 12, 9),
 (1996, 12, 10),
 (1996, 12, 11),
 (1996, 12, 12),
 (1996, 12, 12),
 (1996, 12, 13),
 (1996, 12, 16),
 (1996, 12, 16),
 (1996, 12, 17),
 (1996, 12, 18),
 (1996, 12, 18),
 (1996, 12, 19),
 (1996, 12, 20),
 (1996, 12, 23),
 (1996, 12, 23),
 (1996, 12, 24),
 (1996, 12, 25),
 (1996, 12, 25),
 (1996, 12, 26),
 (1996, 12, 27),
 (1996, 12, 27),
 (1996, 12, 30),
 (1996, 12, 31),
 (1997, 1, 1),
 (1997, 1, 1),
 (1997, 1, 2),
 (1997, 1, 3),
 (1997, 1, 3),
 (1997, 1, 6),
 (1997, 1, 7),
 (1997, 1, 7),
 (1997, 1, 8),
 (1997, 1, 9),
 (1997, 1, 10),
 (1997, 1, 10),
 (1997, 1, 13),
 (1997, 1, 14),
 (1997, 1, 14),
 (1997, 1, 15),
 (1997, 1, 16),
 (1997, 1, 16),
 (1997, 1, 17),
 (1997, 1, 20),
 (1997, 1, 21),
 (1997, 1, 21),
 (1997, 1, 22),
 (1997, 1, 23),
 (1997, 1, 23),
 (1997, 1, 24),
 (1997, 1, 27),
 (1997, 1, 27),
 (1997, 1, 28),
 (1997, 1, 29),
 (1997, 1, 30),
 (1997, 1, 30),
 (1997, 1, 31),
 (1997, 2, 3),
 (1997, 2, 3),
 (1997, 2, 4),
 (1997, 2, 5),
 (1997, 2, 5),
 (1997, 2, 6),
 (1997, 2, 7),
 (1997, 2, 10),
 (1997, 2, 10),
 (1997, 2, 11),
 (1997, 2, 12)]

In [43]:
%%sql 
# Calculate the difference between two dates from todays
SELECT DATEDIFF(curdate() , orderdate) FROM orders;

 * mysql://root:***@localhost/sqlpractice_w3school
196 rows affected.

[(9771,),
 (9770,),
 (9767,),
 (9767,),
 (9766,),
 (9765,),
 (9764,),
 (9763,),
 (9760,),
 (9759,),
 (9758,),
 (9757,),
 (9756,),
 (9756,),
 (9753,),
 (9752,),
 (9751,),
 (9750,),
 (9749,),
 (9746,),
 (9745,),
 (9744,),
 (9743,),
 (9743,),
 (9742,),
 (9739,),
 (9738,),
 (9737,),
 (9736,),
 (9735,),
 (9732,),
 (9731,),
 (9730,),
 (9730,),
 (9729,),
 (9728,),
 (9725,),
 (9724,),
 (9723,),
 (9722,),
 (9721,),
 (9718,),
 (9717,),
 (9717,),
 (9716,),
 (9715,),
 (9714,),
 (9711,),
 (9710,),
 (9709,),
 (9708,),
 (9707,),
 (9704,),
 (9704,),
 (9703,),
 (9702,),
 (9701,),
 (9700,),
 (9697,),
 (9696,),
 (9695,),
 (9694,),
 (9693,),
 (9693,),
 (9690,),
 (9689,),
 (9688,),
 (9687,),
 (9686,),
 (9683,),
 (9682,),
 (9681,),
 (9680,),
 (9680,),
 (9679,),
 (9676,),
 (9675,),
 (9674,),
 (9673,),
 (9672,),
 (9669,),
 (9668,),
 (9667,),
 (9667,),
 (9666,),
 (9665,),
 (9662,),
 (9661,),
 (9660,),
 (9659,),
 (9658,),
 (9655,),
 (9654,),
 (9654,),
 (9653,),
 (9652,),
 (9651,),
 (9648,),
 (9647,),
 (9646,),
 (9645,),
 (9644,),
 (9641,),
 (9641,),
 (9640,),
 (9639,),
 (9638,),
 (9637,),
 (9634,),
 (9633,),
 (9632,),
 (9631,),
 (9630,),
 (9630,),
 (9627,),
 (9626,),
 (9626,),
 (9625,),
 (9624,),
 (9624,),
 (9623,),
 (9620,),
 (9619,),
 (9619,),
 (9618,),
 (9617,),
 (9617,),
 (9616,),
 (9613,),
 (9613,),
 (9612,),
 (9611,),
 (9610,),
 (9610,),
 (9609,),
 (9606,),
 (9606,),
 (9605,),
 (9604,),
 (9604,),
 (9603,),
 (9602,),
 (9599,),
 (9599,),
 (9598,),
 (9597,),
 (9597,),
 (9596,),
 (9595,),
 (9595,),
 (9592,),
 (9591,),
 (9590,),
 (9590,),
 (9589,),
 (9588,),
 (9588,),
 (9585,),
 (9584,),
 (9584,),
 (9583,),
 (9582,),
 (9581,),
 (9581,),
 (9578,),
 (9577,),
 (9577,),
 (9576,),
 (9575,),
 (9575,),
 (9574,),
 (9571,),
 (9570,),
 (9570,),
 (9569,),
 (9568,),
 (9568,),
 (9567,),
 (9564,),
 (9564,),
 (9563,),
 (9562,),
 (9561,),
 (9561,),
 (9560,),
 (9557,),
 (9557,),
 (9556,),
 (9555,),
 (9555,),
 (9554,),
 (9553,),
 (9550,),
 (9550,),
 (9549,),
 (9548,)]

In [44]:
%%sql 
#Get the last day of the month:
SELECT LAST_DAY(orderdate) FROM orders;

 * mysql://root:***@localhost/sqlpractice_w3school
196 rows affected.

[(datetime.date(1996, 7, 31),),
 (datetime.date(1996, 7, 31),),
 (datetime.date(1996, 7, 31),),
 (datetime.date(1996, 7, 31),),
 (datetime.date(1996, 7, 31),),
 (datetime.date(1996, 7, 31),),
 (datetime.date(1996, 7, 31),),
 (datetime.date(1996, 7, 31),),
 (datetime.date(1996, 7, 31),),
 (datetime.date(1996, 7, 31),),
 (datetime.date(1996, 7, 31),),
 (datetime.date(1996, 7, 31),),
 (datetime.date(1996, 7, 31),),
 (datetime.date(1996, 7, 31),),
 (datetime.date(1996, 7, 31),),
 (datetime.date(1996, 7, 31),),
 (datetime.date(1996, 7, 31),),
 (datetime.date(1996, 7, 31),),
 (datetime.date(1996, 7, 31),),
 (datetime.date(1996, 7, 31),),
 (datetime.date(1996, 7, 31),),
 (datetime.date(1996, 7, 31),),
 (datetime.date(1996, 8, 31),),
 (datetime.date(1996, 8, 31),),
 (datetime.date(1996, 8, 31),),
 (datetime.date(1996, 8, 31),),
 (datetime.date(1996, 8, 31),),
 (datetime.date(1996, 8, 31),),
 (datetime.date(1996, 8, 31),),
 (datetime.date(1996, 8, 31),),
 (datetime.date(1996, 8, 31),),
 (datetime.date(1996, 8, 31),),
 (datetime.date(1996, 8, 31),),
 (datetime.date(1996, 8, 31),),
 (datetime.date(1996, 8, 31),),
 (datetime.date(1996, 8, 31),),
 (datetime.date(1996, 8, 31),),
 (datetime.date(1996, 8, 31),),
 (datetime.date(1996, 8, 31),),
 (datetime.date(1996, 8, 31),),
 (datetime.date(1996, 8, 31),),
 (datetime.date(1996, 8, 31),),
 (datetime.date(1996, 8, 31),),
 (datetime.date(1996, 8, 31),),
 (datetime.date(1996, 8, 31),),
 (datetime.date(1996, 8, 31),),
 (datetime.date(1996, 8, 31),),
 (datetime.date(1996, 9, 30),),
 (datetime.date(1996, 9, 30),),
 (datetime.date(1996, 9, 30),),
 (datetime.date(1996, 9, 30),),
 (datetime.date(1996, 9, 30),),
 (datetime.date(1996, 9, 30),),
 (datetime.date(1996, 9, 30),),
 (datetime.date(1996, 9, 30),),
 (datetime.date(1996, 9, 30),),
 (datetime.date(1996, 9, 30),),
 (datetime.date(1996, 9, 30),),
 (datetime.date(1996, 9, 30),),
 (datetime.date(1996, 9, 30),),
 (datetime.date(1996, 9, 30),),
 (datetime.date(1996, 9, 30),),
 (datetime.date(1996, 9, 30),),
 (datetime.date(1996, 9, 30),),
 (datetime.date(1996, 9, 30),),
 (datetime.date(1996, 9, 30),),
 (datetime.date(1996, 9, 30),),
 (datetime.date(1996, 9, 30),),
 (datetime.date(1996, 9, 30),),
 (datetime.date(1996, 9, 30),),
 (datetime.date(1996, 10, 31),),
 (datetime.date(1996, 10, 31),),
 (datetime.date(1996, 10, 31),),
 (datetime.date(1996, 10, 31),),
 (datetime.date(1996, 10, 31),),
 (datetime.date(1996, 10, 31),),
 (datetime.date(1996, 10, 31),),
 (datetime.date(1996, 10, 31),),
 (datetime.date(1996, 10, 31),),
 (datetime.date(1996, 10, 31),),
 (datetime.date(1996, 10, 31),),
 (datetime.date(1996, 10, 31),),
 (datetime.date(1996, 10, 31),),
 (datetime.date(1996, 10, 31),),
 (datetime.date(1996, 10, 31),),
 (datetime.date(1996, 10, 31),),
 (datetime.date(1996, 10, 31),),
 (datetime.date(1996, 10, 31),),
 (datetime.date(1996, 10, 31),),
 (datetime.date(1996, 10, 31),),
 (datetime.date(1996, 10, 31),),
 (datetime.date(1996, 10, 31),),
 (datetime.date(1996, 10, 31),),
 (datetime.date(1996, 10, 31),),
 (datetime.date(1996, 10, 31),),
 (datetime.date(1996, 10, 31),),
 (datetime.date(1996, 11, 30),),
 (datetime.date(1996, 11, 30),),
 (datetime.date(1996, 11, 30),),
 (datetime.date(1996, 11, 30),),
 (datetime.date(1996, 11, 30),),
 (datetime.date(1996, 11, 30),),
 (datetime.date(1996, 11, 30),),
 (datetime.date(1996, 11, 30),),
 (datetime.date(1996, 11, 30),),
 (datetime.date(1996, 11, 30),),
 (datetime.date(1996, 11, 30),),
 (datetime.date(1996, 11, 30),),
 (datetime.date(1996, 11, 30),),
 (datetime.date(1996, 11, 30),),
 (datetime.date(1996, 11, 30),),
 (datetime.date(1996, 11, 30),),
 (datetime.date(1996, 11, 30),),
 (datetime.date(1996, 11, 30),),
 (datetime.date(1996, 11, 30),),
 (datetime.date(1996, 11, 30),),
 (datetime.date(1996, 11, 30),),
 (datetime.date(1996, 11, 30),),
 (datetime.date(1996, 11, 30),),
 (datetime.date(1996, 11, 30),),
 (datetime.date(1996, 11, 30),),
 (datetime.date(1996, 12, 31),),
 (datetime.date(1996, 12, 31),),
 (datetime.date(1996, 12, 31),),
 (datetime.date(1996, 12, 31),),
 (datetime.date(1996, 12, 31),),
 (datetime.date(1996, 12, 31),),
 (datetime.date(1996, 12, 31),),
 (datetime.date(1996, 12, 31),),
 (datetime.date(1996, 12, 31),),
 (datetime.date(1996, 12, 31),),
 (datetime.date(1996, 12, 31),),
 (datetime.date(1996, 12, 31),),
 (datetime.date(1996, 12, 31),),
 (datetime.date(1996, 12, 31),),
 (datetime.date(1996, 12, 31),),
 (datetime.date(1996, 12, 31),),
 (datetime.date(1996, 12, 31),),
 (datetime.date(1996, 12, 31),),
 (datetime.date(1996, 12, 31),),
 (datetime.date(1996, 12, 31),),
 (datetime.date(1996, 12, 31),),
 (datetime.date(1996, 12, 31),),
 (datetime.date(1996, 12, 31),),
 (datetime.date(1996, 12, 31),),
 (datetime.date(1996, 12, 31),),
 (datetime.date(1996, 12, 31),),
 (datetime.date(1996, 12, 31),),
 (datetime.date(1996, 12, 31),),
 (datetime.date(1996, 12, 31),),
 (datetime.date(1996, 12, 31),),
 (datetime.date(1996, 12, 31),),
 (datetime.date(1997, 1, 31),),
 (datetime.date(1997, 1, 31),),
 (datetime.date(1997, 1, 31),),
 (datetime.date(1997, 1, 31),),
 (datetime.date(1997, 1, 31),),
 (datetime.date(1997, 1, 31),),
 (datetime.date(1997, 1, 31),),
 (datetime.date(1997, 1, 31),),
 (datetime.date(1997, 1, 31),),
 (datetime.date(1997, 1, 31),),
 (datetime.date(1997, 1, 31),),
 (datetime.date(1997, 1, 31),),
 (datetime.date(1997, 1, 31),),
 (datetime.date(1997, 1, 31),),
 (datetime.date(1997, 1, 31),),
 (datetime.date(1997, 1, 31),),
 (datetime.date(1997, 1, 31),),
 (datetime.date(1997, 1, 31),),
 (datetime.date(1997, 1, 31),),
 (datetime.date(1997, 1, 31),),
 (datetime.date(1997, 1, 31),),
 (datetime.date(1997, 1, 31),),
 (datetime.date(1997, 1, 31),),
 (datetime.date(1997, 1, 31),),
 (datetime.date(1997, 1, 31),),
 (datetime.date(1997, 1, 31),),
 (datetime.date(1997, 1, 31),),
 (datetime.date(1997, 1, 31),),
 (datetime.date(1997, 1, 31),),
 (datetime.date(1997, 1, 31),),
 (datetime.date(1997, 1, 31),),
 (datetime.date(1997, 1, 31),),
 (datetime.date(1997, 1, 31),),
 (datetime.date(1997, 2, 28),),
 (datetime.date(1997, 2, 28),),
 (datetime.date(1997, 2, 28),),
 (datetime.date(1997, 2, 28),),
 (datetime.date(1997, 2, 28),),
 (datetime.date(1997, 2, 28),),
 (datetime.date(1997, 2, 28),),
 (datetime.date(1997, 2, 28),),
 (datetime.date(1997, 2, 28),),
 (datetime.date(1997, 2, 28),),
 (datetime.date(1997, 2, 28),)]

In [45]:
%%sql 
#Get the week number of a date:
SELECT WEEK(orderdate) FROM orders;

 * mysql://root:***@localhost/sqlpractice_w3school
196 rows affected.

[(26,),
 (26,),
 (27,),
 (27,),
 (27,),
 (27,),
 (27,),
 (27,),
 (28,),
 (28,),
 (28,),
 (28,),
 (28,),
 (28,),
 (29,),
 (29,),
 (29,),
 (29,),
 (29,),
 (30,),
 (30,),
 (30,),
 (30,),
 (30,),
 (30,),
 (31,),
 (31,),
 (31,),
 (31,),
 (31,),
 (32,),
 (32,),
 (32,),
 (32,),
 (32,),
 (32,),
 (33,),
 (33,),
 (33,),
 (33,),
 (33,),
 (34,),
 (34,),
 (34,),
 (34,),
 (34,),
 (34,),
 (35,),
 (35,),
 (35,),
 (35,),
 (35,),
 (36,),
 (36,),
 (36,),
 (36,),
 (36,),
 (36,),
 (37,),
 (37,),
 (37,),
 (37,),
 (37,),
 (37,),
 (38,),
 (38,),
 (38,),
 (38,),
 (38,),
 (39,),
 (39,),
 (39,),
 (39,),
 (39,),
 (39,),
 (40,),
 (40,),
 (40,),
 (40,),
 (40,),
 (41,),
 (41,),
 (41,),
 (41,),
 (41,),
 (41,),
 (42,),
 (42,),
 (42,),
 (42,),
 (42,),
 (43,),
 (43,),
 (43,),
 (43,),
 (43,),
 (43,),
 (44,),
 (44,),
 (44,),
 (44,),
 (44,),
 (45,),
 (45,),
 (45,),
 (45,),
 (45,),
 (45,),
 (46,),
 (46,),
 (46,),
 (46,),
 (46,),
 (46,),
 (47,),
 (47,),
 (47,),
 (47,),
 (47,),
 (47,),
 (47,),
 (48,),
 (48,),
 (48,),
 (48,),
 (48,),
 (48,),
 (48,),
 (49,),
 (49,),
 (49,),
 (49,),
 (49,),
 (49,),
 (49,),
 (50,),
 (50,),
 (50,),
 (50,),
 (50,),
 (50,),
 (50,),
 (51,),
 (51,),
 (51,),
 (51,),
 (51,),
 (51,),
 (51,),
 (51,),
 (52,),
 (52,),
 (0,),
 (0,),
 (0,),
 (0,),
 (0,),
 (1,),
 (1,),
 (1,),
 (1,),
 (1,),
 (1,),
 (1,),
 (2,),
 (2,),
 (2,),
 (2,),
 (2,),
 (2,),
 (2,),
 (3,),
 (3,),
 (3,),
 (3,),
 (3,),
 (3,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (5,),
 (5,),
 (5,),
 (5,),
 (5,),
 (5,),
 (5,),
 (6,),
 (6,),
 (6,),
 (6,)]

# Table Joins

In [72]:
%%sql 
select * from df1

 * mysql://root:***@localhost/sqlpractice_w3school
10 rows affected.

[(1, 'Alice', 25),
 (2, 'Bob', 30),
 (3, 'Charlie', 35),
 (4, 'David', 40),
 (5, 'Eve', 45),
 (6, 'Frank', 50),
 (7, 'Grace', 55),
 (8, 'Hannah', 60),
 (9, 'Isaac', 65),
 (10, 'Jack', 70)]

In [73]:
%%sql 
select * from df2

 * mysql://root:***@localhost/sqlpractice_w3school
10 rows affected.

[(1, 'doctor', 100000),
 (3, 'lawyer', 80000),
 (5, 'teacher', 60000),
 (7, 'engineer', 120000),
 (9, 'nurse', 50000),
 (11, 'programmer', 90000),
 (13, 'scientist', 110000),
 (15, 'writer', 75000),
 (17, 'artist', 70000),
 (19, 'chef', 65000)]

In [75]:
%%sql 
# INNER
select * from df1 inner join df2 on df1.id = df2.id

 * mysql://root:***@localhost/sqlpractice_w3school
5 rows affected.

[(1, 'Alice', 25, 1, 'doctor', 100000),
 (3, 'Charlie', 35, 3, 'lawyer', 80000),
 (5, 'Eve', 45, 5, 'teacher', 60000),
 (7, 'Grace', 55, 7, 'engineer', 120000),
 (9, 'Isaac', 65, 9, 'nurse', 50000)]

In [76]:
%%sql 
# LEFT
select * from df1 left join df2 on df1.id = df2.id

 * mysql://root:***@localhost/sqlpractice_w3school
10 rows affected.

[(1, 'Alice', 25, 1, 'doctor', 100000),
 (2, 'Bob', 30, None, None, None),
 (3, 'Charlie', 35, 3, 'lawyer', 80000),
 (4, 'David', 40, None, None, None),
 (5, 'Eve', 45, 5, 'teacher', 60000),
 (6, 'Frank', 50, None, None, None),
 (7, 'Grace', 55, 7, 'engineer', 120000),
 (8, 'Hannah', 60, None, None, None),
 (9, 'Isaac', 65, 9, 'nurse', 50000),
 (10, 'Jack', 70, None, None, None)]

In [81]:
%%sql 
# RIGHT
select * from df1 right join df2 on df1.id = df2.id

 * mysql://root:***@localhost/sqlpractice_w3school
10 rows affected.

[(1, 'Alice', 25, 1, 'doctor', 100000),
 (3, 'Charlie', 35, 3, 'lawyer', 80000),
 (5, 'Eve', 45, 5, 'teacher', 60000),
 (7, 'Grace', 55, 7, 'engineer', 120000),
 (9, 'Isaac', 65, 9, 'nurse', 50000),
 (None, None, None, 11, 'programmer', 90000),
 (None, None, None, 13, 'scientist', 110000),
 (None, None, None, 15, 'writer', 75000),
 (None, None, None, 17, 'artist', 70000),
 (None, None, None, 19, 'chef', 65000)]

In [83]:
%%sql  
# full join not working directly but, we gona do with union and left and right join
select * from df1 left join df2 on df1.id =df2.id 
union
select * from df1 right join df2 on df1.id = df2.id

 * mysql://root:***@localhost/sqlpractice_w3school
15 rows affected.

[(1, 'Alice', 25, 1, 'doctor', 100000),
 (2, 'Bob', 30, None, None, None),
 (3, 'Charlie', 35, 3, 'lawyer', 80000),
 (4, 'David', 40, None, None, None),
 (5, 'Eve', 45, 5, 'teacher', 60000),
 (6, 'Frank', 50, None, None, None),
 (7, 'Grace', 55, 7, 'engineer', 120000),
 (8, 'Hannah', 60, None, None, None),
 (9, 'Isaac', 65, 9, 'nurse', 50000),
 (10, 'Jack', 70, None, None, None),
 (None, None, None, 11, 'programmer', 90000),
 (None, None, None, 13, 'scientist', 110000),
 (None, None, None, 15, 'writer', 75000),
 (None, None, None, 17, 'artist', 70000),
 (None, None, None, 19, 'chef', 65000)]

In [106]:
%%sql
# SELF join
select * from selfjoindf s1 left join selfjoindf s2 on s1.id = s2.manager_id

 * mysql://root:***@localhost/sqlpractice_w3school
6 rows affected.

[(1, 'Alice', 25, 2, None, None, None, None),
 (2, 'Bob', 30, 4, 1, 'Alice', 25, 2),
 (3, 'Charlie', 35, 4, 4, 'Dave', 40, 3),
 (4, 'Dave', 40, 3, 3, 'Charlie', 35, 4),
 (4, 'Dave', 40, 3, 2, 'Bob', 30, 4),
 (5, 'Eve', 45, None, None, None, None, None)]

In [117]:
%%sql 
select * from crossdf1

 * mysql://root:***@localhost/sqlpractice_w3school
5 rows affected.

[('A', 1), ('B', 2), ('C', 3), ('D', 4), ('E', 5)]

In [118]:
%%sql 
select * from crossdf2

 * mysql://root:***@localhost/sqlpractice_w3school
3 rows affected.

[('X', 6), ('Y', 7), ('Z', 8)]

In [119]:
%%sql 
#CROSS Join
select * from crossdf1 cross join crossdf2

 * mysql://root:***@localhost/sqlpractice_w3school
15 rows affected.

[('A', 1, 'Z', 8),
 ('A', 1, 'Y', 7),
 ('A', 1, 'X', 6),
 ('B', 2, 'Z', 8),
 ('B', 2, 'Y', 7),
 ('B', 2, 'X', 6),
 ('C', 3, 'Z', 8),
 ('C', 3, 'Y', 7),
 ('C', 3, 'X', 6),
 ('D', 4, 'Z', 8),
 ('D', 4, 'Y', 7),
 ('D', 4, 'X', 6),
 ('E', 5, 'Z', 8),
 ('E', 5, 'Y', 7),
 ('E', 5, 'X', 6)]

## Group  BY

In [127]:
%%sql 
select s.shippername, count(orderid) from orders o left join shippers s on o.ShipperID = s.ShipperID
group by ShipperName

 * mysql://root:***@localhost/sqlpractice_w3school
3 rows affected.

[('Federal Shipping', 68), ('Speedy Express', 54), ('United Package', 74)]

In [133]:
%%sql 
SELECT country , COUNT(CustomerID) as "total customer" from customers
GROUP BY Country
ORDER BY COUNT(CustomerID) DESC;

 * mysql://root:***@localhost/sqlpractice_w3school
20 rows affected.

[('USA', 13),
 ('Germany', 11),
 ('France', 11),
 ('Brazil', 9),
 ('UK', 7),
 ('Mexico', 5),
 ('Spain', 5),
 ('Venezuela', 4),
 ('Canada', 3),
 ('Argentina', 3),
 ('Italy', 3),
 ('Sweden', 2),
 ('Switzerland', 2),
 ('Austria', 2),
 ('Portugal', 2),
 ('Belgium', 2),
 ('Denmark', 2),
 ('Finland', 2),
 ('Norway', 1),
 ('Poland', 1)]

In [134]:
%%sql 
select * from customers

 * mysql://root:***@localhost/sqlpractice_w3school
90 rows affected.

[(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany'),
 (2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la ConstituciÃ³n 2222', 'MÃ©xico D.F.', '05021', 'Mexico'),
 (3, 'Antonio Moreno TaquerÃ\xada', 'Antonio Moreno', 'Mataderos 2312', 'MÃ©xico D.F.', '05023', 'Mexico'),
 (4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK'),
 (5, 'Berglunds snabbkÃ¶p', 'Christina Berglund', 'BerguvsvÃ¤gen 8', 'LuleÃ¥', 'S-958 22', 'Sweden'),
 (6, 'Blauer See Delikatessen', 'Hanna Moos', 'Forsterstr. 57', 'Mannheim', '68306', 'Germany'),
 (7, 'Blondel pÃ¨re et fils', 'FrÃ©dÃ©rique Citeaux', '24, place KlÃ©ber', 'Strasbourg', '67000', 'France'),
 (8, 'BÃ³lido Comidas preparadas', 'MartÃ\xadn Sommer', 'C/ Araquil, 67', 'Madrid', '28023', 'Spain'),
 (9, "Bon app'", 'Laurence Lebihans', '12, rue des Bouchers', 'Marseille', '13008', 'France'),
 (10, 'Bottom-Dollar Marketse', 'Elizabeth Lincoln', '23 Tsawassen Blvd.', 'Tsawassen', 'T2F 8M4', 'Canada'),
 (11, "B's Beverages", 'Victoria Ashworth', 'Fauntleroy Circus', 'London', 'EC2 5NT', 'UK'),
 (12, 'Cactus Comidas para llevar', 'Patricio Simpson', 'Cerrito 333', 'Buenos Aires', '1010', 'Argentina'),
 (13, 'Centro comercial Moctezuma', 'Francisco Chang', 'Sierras de Granada 9993', 'MÃ©xico D.F.', '05022', 'Mexico'),
 (14, 'Chop-suey Chinese', 'Yang Wang', 'Hauptstr. 29', 'Bern', '3012', 'Switzerland'),
 (15, 'ComÃ©rcio Mineiro', 'Pedro Afonso', 'Av. dos LusÃ\xadadas, 23', 'SÃ£o Paulo', '05432-043', 'Brazil'),
 (16, 'Consolidated Holdings', 'Elizabeth Brown', 'Berkeley Gardens 12 Brewery ', 'London', 'WX1 6LT', 'UK'),
 (17, 'Drachenblut Delikatessend', 'Sven Ottlieb', 'Walserweg 21', 'Aachen', '52066', 'Germany'),
 (18, 'Du monde entier', 'Janine Labrune', '67, rue des Cinquante Otages', 'Nantes', '44000', 'France'),
 (19, 'Eastern Connection', 'Ann Devon', '35 King George', 'London', 'WX3 6FW', 'UK'),
 (20, 'Ernst Handel', 'Roland Mendel', 'Kirchgasse 6', 'Graz', '8010', 'Austria'),
 (21, 'Familia Arquibaldo', 'Aria Cruz', 'Rua OrÃ³s, 92', 'SÃ£o Paulo', '05442-030', 'Brazil'),
 (22, 'FISSA Fabrica Inter. Salchichas S.A.', 'Diego Roel', 'C/ Moralzarzal, 86', 'Madrid', '28034', 'Spain'),
 (23, 'Folies gourmandes', 'Martine RancÃ©', '184, chaussÃ©e de Tournai', 'Lille', '59000', 'France'),
 (24, 'Folk och fÃ¤ HB', 'Maria Larsson', 'Ã…kergatan 24', 'BrÃ¤cke', 'S-844 67', 'Sweden'),
 (25, 'Frankenversand', 'Peter Franken', 'Berliner Platz 43', 'MÃ¼nchen', '80805', 'Germany'),
 (26, 'France restauration', 'Carine Schmitt', '54, rue Royale', 'Nantes', '44000', 'France'),
 (27, 'Franchi S.p.A.', 'Paolo Accorti', 'Via Monte Bianco 34', 'Torino', '10100', 'Italy'),
 (28, 'Furia Bacalhau e Frutos do Mar', 'Lino Rodriguez ', 'Jardim das rosas n. 32', 'Lisboa', '1675', 'Portugal'),
 (29, 'GalerÃ\xada del gastrÃ³nomo', 'Eduardo Saavedra', 'Rambla de CataluÃ±a, 23', 'Barcelona', '08022', 'Spain'),
 (30, 'Godos Cocina TÃ\xadpica', 'JosÃ© Pedro Freyre', 'C/ Romero, 33', 'Sevilla', '41101', 'Spain'),
 (31, 'Gourmet Lanchonetes', 'AndrÃ© Fonseca', 'Av. Brasil, 442', 'Campinas', '04876-786', 'Brazil'),
 (32, 'Great Lakes Food Market', 'Howard Snyder', '2732 Baker Blvd.', 'Eugene', '97403', 'USA'),
 (33, 'GROSELLA-Restaurante', 'Manuel Pereira', '5Âª Ave. Los Palos Grandes', 'Caracas', '1081', 'Venezuela'),
 (34, 'Hanari Carnes', 'Mario Pontes', 'Rua do PaÃ§o, 67', 'Rio de Janeiro', '05454-876', 'Brazil'),
 (35, 'HILARIÃ“N-Abastos', 'Carlos HernÃ¡ndez', 'Carrera 22 con Ave. Carlos Soublette #8-35', 'San CristÃ³bal', '5022', 'Venezuela'),
 (36, 'Hungry Coyote Import Store', 'Yoshi Latimer', 'City Center Plaza 516 Main St.', 'Elgin', '97827', 'USA'),
 (38, 'Island Trading', 'Helen Bennett', 'Garden House Crowther Way', 'Cowes', 'PO31 7PJ', 'UK'),
 (39, 'KÃ¶niglich Essen', 'Philip Cramer', 'Maubelstr. 90', 'Brandenburg', '14776', 'Germany'),
 (40, "La corne d'abondance", 'Daniel Tonini', "67, avenue de l'Europe", 'Versailles', '78000', 'France'),
 (41, "La maison d'Asie", 'Annette Roulet', '1 rue Alsace-Lorraine', 'Toulouse', '31000', 'France'),
 (42, 'Laughing Bacchus Wine Cellars', 'Yoshi Tannamuri', '1900 Oak St.', 'Vancouver', 'V3F 2K1', 'Canada'),
 (43, 'Lazy K Kountry Store', 'John Steel', '12 Orchestra Terrace', 'Walla Walla', '99362', 'USA'),
 (44, 'Lehmanns Marktstand', 'Renate Messner', 'Magazinweg 7', 'Frankfurt a.M. ', '60528', 'Germany'),
 (45, "Let's Stop N Shop", 'Jaime Yorres', '87 Polk St. Suite 5', 'San Francisco', '94117', 'USA'),
 (46, 'LILA-Supermercado', 'Carlos GonzÃ¡lez', 'Carrera 52 con Ave. BolÃ\xadvar #65-98 Llano Largo', 'Barquisimeto', '3508', 'Venezuela'),
 (47, 'LINO-Delicateses', 'Felipe Izquierdo', 'Ave. 5 de Mayo Porlamar', 'I. de Margarita', '4980', 'Venezuela'),
 (48, 'Lonesome Pine Restaurant', 'Fran Wilson', '89 Chiaroscuro Rd.', 'Portland', '97219', 'USA'),
 (49, 'Magazzini Alimentari Riuniti', 'Giovanni Rovelli', 'Via Ludovico il Moro 22', 'Bergamo', '24100', 'Italy'),
 (50, 'Maison Dewey', 'Catherine Dewey', 'Rue Joseph-Bens 532', 'Bruxelles', 'B-1180', 'Belgium'),
 (51, 'MÃ¨re Paillarde', 'Jean FresniÃ¨re', '43 rue St. Laurent', 'MontrÃ©al', 'H1J 1C3', 'Canada'),
 (52, 'Morgenstern Gesundkost', 'Alexander Feuer', 'Heerstr. 22', 'Leipzig', '04179', 'Germany'),
 (53, 'North/South', 'Simon Crowther', 'South House 300 Queensbridge', 'London', 'SW7 1RZ', 'UK'),
 (54, 'OcÃ©ano AtlÃ¡ntico Ltda.', 'Yvonne Moncada', 'Ing. Gustavo Moncada 8585 Piso 20-A', 'Buenos Aires', '1010', 'Argentina'),
 (55, 'Old World Delicatessen', 'Rene Phillips', '2743 Bering St.', 'Anchorage', '99508', 'USA'),
 (56, 'Ottilies KÃ¤seladen', 'Henriette Pfalzheim', 'Mehrheimerstr. 369', 'KÃ¶ln', '50739', 'Germany'),
 (57, 'Paris spÃ©cialitÃ©s', 'Marie Bertrand', '265, boulevard Charonne', 'Paris', '75012', 'France'),
 (58, 'Pericles Comidas clÃ¡sicas', 'Guillermo FernÃ¡ndez', 'Calle Dr. Jorge Cash 321', 'MÃ©xico D.F.', '05033', 'Mexico'),
 (59, 'Piccolo und mehr', 'Georg Pipps', 'Geislweg 14', 'Salzburg', '5020', 'Austria'),
 (60, 'Princesa Isabel Vinhoss', 'Isabel de Castro', 'Estrada da saÃºde n. 58', 'Lisboa', '1756', 'Portugal'),
 (61, 'Que DelÃ\xadcia', 'Bernardo Batista', 'Rua da Panificadora, 12', 'Rio de Janeiro', '02389-673', 'Brazil'),
 (62, 'Queen Cozinha', 'LÃºcia Carvalho', 'Alameda dos CanÃ\xa0rios, 891', 'SÃ£o Paulo', '05487-020', 'Brazil'),
 (63, 'QUICK-Stop', 'Horst Kloss', 'TaucherstraÃŸe 10', 'Cunewalde', '01307', 'Germany'),
 (64, 'Rancho grande', 'Sergio GutiÃ©rrez', 'Av. del Libertador 900', 'Buenos Aires', '1010', 'Argentina'),
 (65, 'Rattlesnake Canyon Grocery', 'Paula Wilson', '2817 Milton Dr.', 'Albuquerque', '87110', 'USA'),
 (66, 'Reggiani Caseifici', 'Maurizio Moroni', 'Strada Provinciale 124', 'Reggio Emilia', '42100', 'Italy'),
 (67, 'Ricardo Adocicados', 'Janete Limeira', 'Av. Copacabana, 267', 'Rio de Janeiro', '02389-890', 'Brazil'),
 (68, 'Richter Supermarkt', 'Michael Holz', 'Grenzacherweg 237', 'GenÃ¨ve', '1203', 'Switzerland'),
 (69, 'Romero y tomillo', 'Alejandra Camino', 'Gran VÃ\xada, 1', 'Madrid', '28001', 'Spain'),
 (70, 'SantÃ© Gourmet', 'Jonas Bergulfsen', 'Erling Skakkes gate 78', 'Stavern', '4110', 'Norway'),
 (71, 'Save-a-lot Markets', 'Jose Pavarotti', '187 Suffolk Ln.', 'Boise', '83720', 'USA'),
 (72, 'Seven Seas Imports', 'Hari Kumar', '90 Wadhurst Rd.', 'London', 'OX15 4NB', 'UK'),
 (73, 'Simons bistro', 'Jytte Petersen', 'VinbÃ¦ltet 34', 'KÃ¸benhavn', '1734', 'Denmark'),
 (74, 'SpÃ©cialitÃ©s du monde', 'Dominique Perrier', '25, rue Lauriston', 'Paris', '75016', 'France'),
 (75, 'Split Rail Beer &amp; Ale', 'Art Braunschweiger', 'P.O. Box 555', 'Lander', '82520', 'USA'),
 (76, 'SuprÃªmes dÃ©lices', 'Pascale Cartrain', 'Boulevard Tirou, 255', 'Charleroi', 'B-6000', 'Belgium'),
 (77, 'The Big Cheese', 'Liz Nixon', '89 Jefferson Way Suite 2', 'Portland', '97201', 'USA'),
 (78, 'The Cracker Box', 'Liu Wong', '55 Grizzly Peak Rd.', 'Butte', '59801', 'USA'),
 (79, 'Toms SpezialitÃ¤ten', 'Karin Josephs', 'Luisenstr. 48', 'MÃ¼nster', '44087', 'Germany'),
 (80, 'Tortuga Restaurante', 'Miguel Angel Paolino', 'Avda. Azteca 123', 'MÃ©xico D.F.', '05033', 'Mexico'),
 (81, 'TradiÃ§Ã£o Hipermercados', 'Anabela Domingues', 'Av. InÃªs de Castro, 414', 'SÃ£o Paulo', '05634-030', 'Brazil'),
 (82, "Trail's Head Gourmet Provisioners", 'Helvetius Nagy', '722 DaVinci Blvd.', 'Kirkland', '98034', 'USA'),
 (83, 'Vaffeljernet', 'Palle Ibsen', 'SmagslÃ¸get 45', 'Ã…rhus', '8200', 'Denmark'),
 (84, 'Victuailles en stock', 'Mary Saveley', '2, rue du Commerce', 'Lyon', '69004', 'France'),
 (85, 'Vins et alcools Chevalier', 'Paul Henriot', "59 rue de l'Abbaye", 'Reims', '51100', 'France'),
 (86, 'Die Wandernde Kuh', 'Rita MÃ¼ller', 'Adenauerallee 900', 'Stuttgart', '70563', 'Germany'),
 (87, 'Wartian Herkku', 'Pirkko Koskitalo', 'Torikatu 38', 'Oulu', '90110', 'Finland'),
 (88, 'Wellington Importadora', 'Paula Parente', 'Rua do Mercado, 12', 'Resende', '08737-363', 'Brazil'),
 (89, 'White Clover Markets', 'Karl Jablonski', '305 - 14th Ave. S. Suite 3B', 'Seattle', '98128', 'USA'),
 (90, 'Wilman Kala', 'Matti Karttunen', 'Keskuskatu 45', 'Helsinki', '21240', 'Finland'),
 (91, 'Wolski', 'Zbyszek', 'ul. Filtrowa 68', 'Walla', '01-012', 'Poland')]

In [140]:
%%sql 
select * from products where products.supplierid = suppliers.supplierid

 * mysql://root:***@localhost/sqlpractice_w3school
(MySQLdb._exceptions.OperationalError) (1054, "Unknown column 'suppliers.supplierid' in 'where clause'")
[SQL: select * from products where products.supplierid = suppliers.supplierid]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [144]:
%%sql 
SELECT ProductName FROM products WHERE Products.SupplierID = suppliers.supplierID

 * mysql://root:***@localhost/sqlpractice_w3school
(MySQLdb._exceptions.OperationalError) (1054, "Unknown column 'suppliers.supplierID' in 'where clause'")
[SQL: SELECT ProductName FROM products WHERE Products.SupplierID = suppliers.supplierID]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [148]:
%%sql 
SELECT *
FROM Suppliers
WHERE EXISTS (SELECT ProductName FROM Products WHERE Products.SupplierID = Suppliers.supplierID and price=22);

 * mysql://root:***@localhost/sqlpractice_w3school
2 rows affected.

[(2, 'New Orleans Cajun Delights', 'Shelley Burke', 'P.O. Box 78934', 'New Orleans', 70117, 'USA', '(100) 555-4822'),
 (15, 'Norske Meierier', 'Beate Vileid', 'Hatlevegen 5', 'Sandvika', 1320, 'Norway', '(0)2-953010')]

In [152]:
%%sql 
select * from products p inner join suppliers s on p.supplierid = s.supplierid and price=22

 * mysql://root:***@localhost/sqlpractice_w3school
2 rows affected.

[(4, "Chef Anton's Cajun Seasoning", 2, 2, '48 - 6 oz jars', 22, 2, 'New Orleans Cajun Delights', 'Shelley Burke', 'P.O. Box 78934', 'New Orleans', 70117, 'USA', '(100) 555-4822'),
 (71, 'FlÃ¸temysost', 15, 4, '10 - 500 g pkgs.', 22, 15, 'Norske Meierier', 'Beate Vileid', 'Hatlevegen 5', 'Sandvika', 1320, 'Norway', '(0)2-953010')]

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql